openapi: 3.1.0
info:
  title: BALLDONTLIE
  version: "1.0.0"
  description: |
    API for accessing NBA, NFL, MLB, NCAAF, NCAAB, CBB (College Baseball), EPL, NHL, WNBA, MMA, CS2, LOL, Dota 2, FIFA World Cup 2026, Formula 1, La Liga, Serie A, UEFA Champions League, Bundesliga, Ligue 1, MLS, PGA Tour, and ATP Tennis statistics and data.
    Includes comprehensive endpoints for teams, players, games, statistics, and more.

servers:
  - url: https://api.balldontlie.io
    description: Production server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization

  schemas:
    # Common Components
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message

    Pagination:
      type: object
      properties:
        next_cursor:
          type: integer
          description: Cursor for the next page of results
        prev_cursor:
          type: integer
          nullable: true
          description: Cursor for the previous page of results
        per_page:
          type: integer
          description: Number of results per page

    PlayerPropMeta:
      type: object
      description: Metadata for player prop responses (no pagination - all results returned in single response)
      properties:
        per_page:
          type: integer
          description: Total number of results returned

    # NBA Components
    NBATeam:
      type: object
      properties:
        id:
          type: integer
        conference:
          type: string
          enum: [East, West]
        division:
          type: string
          enum: [Atlantic, Central, Southeast, Northwest, Pacific, Southwest]
        city:
          type: string
        name:
          type: string
        full_name:
          type: string
        abbreviation:
          type: string

    NBAPlayer:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        position:
          type: string
        height:
          type: string
        weight:
          type: string
        jersey_number:
          type: string
        college:
          type: string
        country:
          type: string
        draft_year:
          type: integer
        draft_round:
          type: integer
        draft_number:
          type: integer
        team:
          $ref: "#/components/schemas/NBATeam"

    NBAGame:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date
        season:
          type: integer
        status:
          type: string
          nullable: true
        period:
          type: integer
          nullable: true
        time:
          type: string
          nullable: true
        period_detail:
          type: string
          nullable: true
          description: Detailed period information (e.g., 'Final', '1:00 - 2nd Half')
        datetime:
          type: string
          format: date-time
          nullable: true
        postseason:
          type: boolean
        home_team_score:
          type: integer
        visitor_team_score:
          type: integer
        home_team:
          $ref: "#/components/schemas/NBATeam"
        visitor_team:
          $ref: "#/components/schemas/NBATeam"
        ist_stage:
          type: string
          nullable: true
          description: NBA Cup stage (e.g., 'West Semifinal', 'Championship'). Only populated for NBA Cup games. Only available starting with the 2025 season.

    NBAStats:
      type: object
      properties:
        id:
          type: integer
        min:
          type: string
        fgm:
          type: integer
        fga:
          type: integer
        fg_pct:
          type: number
        fg3m:
          type: integer
        fg3a:
          type: integer
        fg3_pct:
          type: number
        ftm:
          type: integer
        fta:
          type: integer
        ft_pct:
          type: number
        oreb:
          type: integer
        dreb:
          type: integer
        reb:
          type: integer
        ast:
          type: integer
        stl:
          type: integer
        blk:
          type: integer
        turnover:
          type: integer
        pf:
          type: integer
        pts:
          type: integer
        plus_minus:
          type: integer
          nullable: true
          description: Plus/minus for the player in this game
        player:
          $ref: "#/components/schemas/NBAPlayer"
        team:
          $ref: "#/components/schemas/NBATeam"
        game:
          $ref: "#/components/schemas/NBAGame"

    NBASeasonAverages:
      type: object
      properties:
        games_played:
          type: integer
        pts:
          type: number
        ast:
          type: number
        reb:
          type: number
        stl:
          type: number
        blk:
          type: number
        turnover:
          type: number
        min:
          type: string
        fgm:
          type: number
        fga:
          type: number
        fg_pct:
          type: number
        fg3m:
          type: number
        fg3a:
          type: number
        fg3_pct:
          type: number
        ftm:
          type: number
        fta:
          type: number
        ft_pct:
          type: number
        oreb:
          type: number
        dreb:
          type: number
        player_id:
          type: integer
        season:
          type: integer

    NBASeasonAverageV2:
      type: object
      properties:
        player_id:
          type: integer
        season:
          type: integer
        season_type:
          type: string
        stats:
          type: object
          additionalProperties: true

    NBATeamSeasonStat:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/NBATeam"
        season:
          type: integer
          description: Season year
        season_type:
          type: string
          enum: [regular, playoffs, ist]
          description: Season type
        stats:
          type: object
          additionalProperties: true
          description: Dynamic stats object with stat names as keys and numeric values. Content varies by category/type combination.

    NBAStandings:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/NBATeam"
        conference_record:
          type: string
        conference_rank:
          type: integer
        division_record:
          type: string
        division_rank:
          type: integer
        wins:
          type: integer
        losses:
          type: integer
        home_record:
          type: string
        road_record:
          type: string
        season:
          type: integer

    NBABoxScore:
      type: object
      properties:
        date:
          type: string
          format: date
        season:
          type: integer
        status:
          type: string
        period:
          type: integer
        time:
          type: string
        postseason:
          type: boolean
        home_team_score:
          type: integer
        visitor_team_score:
          type: integer
        home_team:
          type: object
          properties:
            team:
              $ref: "#/components/schemas/NBATeam"
            players:
              type: array
              items:
                type: object
                properties:
                  min:
                    type: string
                  fgm:
                    type: integer
                  fga:
                    type: integer
                  fg_pct:
                    type: number
                  fg3m:
                    type: integer
                  fg3a:
                    type: integer
                  fg3_pct:
                    type: number
                  ftm:
                    type: integer
                  fta:
                    type: integer
                  ft_pct:
                    type: number
                  oreb:
                    type: integer
                  dreb:
                    type: integer
                  reb:
                    type: integer
                  ast:
                    type: integer
                  stl:
                    type: integer
                  blk:
                    type: integer
                  turnover:
                    type: integer
                  pf:
                    type: integer
                  pts:
                    type: integer
                  plus_minus:
                    type: integer
                    nullable: true
                    description: Plus/minus for the player in this game
                  player:
                    $ref: "#/components/schemas/NBAPlayer"
        visitor_team:
          type: object
          properties:
            team:
              $ref: "#/components/schemas/NBATeam"
            players:
              type: array
              items:
                type: object
                properties:
                  min:
                    type: string
                  fgm:
                    type: integer
                  fga:
                    type: integer
                  fg_pct:
                    type: number
                  fg3m:
                    type: integer
                  fg3a:
                    type: integer
                  fg3_pct:
                    type: number
                  ftm:
                    type: integer
                  fta:
                    type: integer
                  ft_pct:
                    type: number
                  oreb:
                    type: integer
                  dreb:
                    type: integer
                  reb:
                    type: integer
                  ast:
                    type: integer
                  stl:
                    type: integer
                  blk:
                    type: integer
                  turnover:
                    type: integer
                  pf:
                    type: integer
                  pts:
                    type: integer
                  plus_minus:
                    type: integer
                    nullable: true
                    description: Plus/minus for the player in this game
                  player:
                    $ref: "#/components/schemas/NBAPlayer"

    NBALineup:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the lineup entry
        game_id:
          type: integer
          description: ID of the game this lineup belongs to
        starter:
          type: boolean
          description: Whether the player is a starter (true) or bench player (false)
        position:
          type: string
          description: Position the player is listed at for this game
        player:
          type: object
          description: Player information (slim version with team_id)
          properties:
            id:
              type: integer
            first_name:
              type: string
            last_name:
              type: string
            position:
              type: string
            height:
              type: string
            weight:
              type: string
            jersey_number:
              type: string
            college:
              type: string
            country:
              type: string
            draft_year:
              type: integer
            draft_round:
              type: integer
            draft_number:
              type: integer
            team_id:
              type: integer
              description: ID of the player's current team
        team:
          $ref: "#/components/schemas/NBATeam"

    NBAPlayerInjury:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NBAPlayer"
        return_date:
          type: string
        description:
          type: string
        status:
          type: string

    NBALeader:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NBAPlayer"
        value:
          type: number
        stat_type:
          type: string
          enum: [reb, dreb, tov, ast, oreb, min, pts, stl, blk]
        rank:
          type: integer
        season:
          type: integer
        games_played:
          type: integer

    NBAAdvancedStats:
      type: object
      properties:
        id:
          type: integer
        pie:
          type: number
        pace:
          type: number
        assist_percentage:
          type: number
        assist_ratio:
          type: number
        assist_to_turnover:
          type: number
        defensive_rating:
          type: number
        defensive_rebound_percentage:
          type: number
        effective_field_goal_percentage:
          type: number
        net_rating:
          type: number
        offensive_rating:
          type: number
        offensive_rebound_percentage:
          type: number
        rebound_percentage:
          type: number
        true_shooting_percentage:
          type: number
        turnover_ratio:
          type: number
        usage_percentage:
          type: number
        player:
          $ref: "#/components/schemas/NBAPlayer"
        team:
          $ref: "#/components/schemas/NBATeam"
        game:
          $ref: "#/components/schemas/NBAGame"

    NBAAdvancedStatsV2:
      type: object
      description: Comprehensive NBA advanced stats including tracking data, hustle stats, and defensive metrics
      properties:
        id:
          type: integer
        period:
          type: integer
          description: Game period (0 for full game)
        player:
          $ref: "#/components/schemas/NBAPlayer"
        team:
          $ref: "#/components/schemas/NBATeam"
        game:
          $ref: "#/components/schemas/NBAGame"
        # Box Score Advanced
        pie:
          type: number
          nullable: true
          description: Player Impact Estimate
        assist_percentage:
          type: number
          nullable: true
        assist_ratio:
          type: number
          nullable: true
        assist_to_turnover:
          type: number
          nullable: true
        defensive_rating:
          type: number
          nullable: true
        defensive_rebound_percentage:
          type: number
          nullable: true
        effective_field_goal_percentage:
          type: number
          nullable: true
        estimated_defensive_rating:
          type: number
          nullable: true
        estimated_net_rating:
          type: number
          nullable: true
        estimated_offensive_rating:
          type: number
          nullable: true
        estimated_pace:
          type: number
          nullable: true
        estimated_usage_percentage:
          type: number
          nullable: true
        net_rating:
          type: number
          nullable: true
        offensive_rating:
          type: number
          nullable: true
        offensive_rebound_percentage:
          type: number
          nullable: true
        pace:
          type: number
          nullable: true
        pace_per_40:
          type: number
          nullable: true
        possessions:
          type: number
          nullable: true
        rebound_percentage:
          type: number
          nullable: true
        true_shooting_percentage:
          type: number
          nullable: true
        turnover_ratio:
          type: number
          nullable: true
        usage_percentage:
          type: number
          nullable: true
        # Box Score Misc
        blocks_against:
          type: number
          nullable: true
        fouls_drawn:
          type: number
          nullable: true
        points_fast_break:
          type: number
          nullable: true
        points_off_turnovers:
          type: number
          nullable: true
        points_paint:
          type: number
          nullable: true
        points_second_chance:
          type: number
          nullable: true
        opp_points_fast_break:
          type: number
          nullable: true
        opp_points_off_turnovers:
          type: number
          nullable: true
        opp_points_paint:
          type: number
          nullable: true
        opp_points_second_chance:
          type: number
          nullable: true
        # Box Score Scoring
        pct_assisted_2pt:
          type: number
          nullable: true
        pct_assisted_3pt:
          type: number
          nullable: true
        pct_assisted_fgm:
          type: number
          nullable: true
        pct_fga_2pt:
          type: number
          nullable: true
        pct_fga_3pt:
          type: number
          nullable: true
        pct_pts_2pt:
          type: number
          nullable: true
        pct_pts_3pt:
          type: number
          nullable: true
        pct_pts_fast_break:
          type: number
          nullable: true
        pct_pts_free_throw:
          type: number
          nullable: true
        pct_pts_midrange_2pt:
          type: number
          nullable: true
        pct_pts_off_turnovers:
          type: number
          nullable: true
        pct_pts_paint:
          type: number
          nullable: true
        pct_unassisted_2pt:
          type: number
          nullable: true
        pct_unassisted_3pt:
          type: number
          nullable: true
        pct_unassisted_fgm:
          type: number
          nullable: true
        # Four Factors
        four_factors_efg_pct:
          type: number
          nullable: true
        free_throw_attempt_rate:
          type: number
          nullable: true
        four_factors_oreb_pct:
          type: number
          nullable: true
        opp_efg_pct:
          type: number
          nullable: true
        opp_free_throw_attempt_rate:
          type: number
          nullable: true
        opp_oreb_pct:
          type: number
          nullable: true
        opp_turnover_pct:
          type: number
          nullable: true
        team_turnover_pct:
          type: number
          nullable: true
        # Hustle Stats
        box_outs:
          type: number
          nullable: true
        box_out_player_rebounds:
          type: number
          nullable: true
        box_out_player_team_rebounds:
          type: number
          nullable: true
        defensive_box_outs:
          type: number
          nullable: true
        offensive_box_outs:
          type: number
          nullable: true
        charges_drawn:
          type: number
          nullable: true
        contested_shots:
          type: number
          nullable: true
        contested_shots_2pt:
          type: number
          nullable: true
        contested_shots_3pt:
          type: number
          nullable: true
        deflections:
          type: number
          nullable: true
        loose_balls_recovered_def:
          type: number
          nullable: true
        loose_balls_recovered_off:
          type: number
          nullable: true
        loose_balls_recovered_total:
          type: number
          nullable: true
        screen_assists:
          type: number
          nullable: true
        screen_assist_points:
          type: number
          nullable: true
        # Defensive Stats
        matchup_minutes:
          type: string
          nullable: true
        matchup_fg_pct:
          type: number
          nullable: true
        matchup_fga:
          type: number
          nullable: true
        matchup_fgm:
          type: number
          nullable: true
        matchup_3pt_pct:
          type: number
          nullable: true
        matchup_3pa:
          type: number
          nullable: true
        matchup_3pm:
          type: number
          nullable: true
        matchup_assists:
          type: number
          nullable: true
        matchup_turnovers:
          type: number
          nullable: true
        partial_possessions:
          type: number
          nullable: true
        matchup_player_points:
          type: number
          nullable: true
        switches_on:
          type: number
          nullable: true
        # Player Tracking
        speed:
          type: number
          nullable: true
        distance:
          type: number
          nullable: true
        touches:
          type: number
          nullable: true
        passes:
          type: number
          nullable: true
        secondary_assists:
          type: number
          nullable: true
        free_throw_assists:
          type: number
          nullable: true
        contested_fga:
          type: number
          nullable: true
        contested_fgm:
          type: number
          nullable: true
        contested_fg_pct:
          type: number
          nullable: true
        uncontested_fga:
          type: number
          nullable: true
        uncontested_fgm:
          type: number
          nullable: true
        uncontested_fg_pct:
          type: number
          nullable: true
        defended_at_rim_fga:
          type: number
          nullable: true
        defended_at_rim_fgm:
          type: number
          nullable: true
        defended_at_rim_fg_pct:
          type: number
          nullable: true
        rebound_chances_def:
          type: number
          nullable: true
        rebound_chances_off:
          type: number
          nullable: true
        rebound_chances_total:
          type: number
          nullable: true
        # Usage Stats
        pct_blocks:
          type: number
          nullable: true
        pct_blocks_allowed:
          type: number
          nullable: true
        pct_fga:
          type: number
          nullable: true
        pct_fgm:
          type: number
          nullable: true
        pct_fta:
          type: number
          nullable: true
        pct_ftm:
          type: number
          nullable: true
        pct_personal_fouls:
          type: number
          nullable: true
        pct_personal_fouls_drawn:
          type: number
          nullable: true
        pct_points:
          type: number
          nullable: true
        pct_rebounds_def:
          type: number
          nullable: true
        pct_rebounds_off:
          type: number
          nullable: true
        pct_rebounds_total:
          type: number
          nullable: true
        pct_steals:
          type: number
          nullable: true
        pct_3pa:
          type: number
          nullable: true
        pct_3pm:
          type: number
          nullable: true
        pct_turnovers:
          type: number
          nullable: true

    NBABettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        game_id:
          type: integer
          description: Game ID
        vendor:
          type: string
          description: Sportsbook vendor name
        spread_home_value:
          type: string
          nullable: true
          description: Home team spread value
        spread_home_odds:
          type: integer
          nullable: true
          description: Home team spread odds
        spread_away_value:
          type: string
          nullable: true
          description: Away team spread value
        spread_away_odds:
          type: integer
          nullable: true
          description: Away team spread odds
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        total_value:
          type: string
          nullable: true
          description: Total points line value
        total_over_odds:
          type: integer
          nullable: true
          description: Over total odds
        total_under_odds:
          type: integer
          nullable: true
          description: Under total odds
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    NBAPlayerPropMarketOverUnder:
      type: object
      description: Over/under market type for player props
      required:
        - type
        - over_odds
        - under_odds
      properties:
        type:
          type: string
          enum: [over_under]
          description: Market type identifier
        over_odds:
          type: integer
          description: American odds for over bet
        under_odds:
          type: integer
          description: American odds for under bet

    NBAPlayerPropMarketMilestone:
      type: object
      description: Milestone market type for player props
      required:
        - type
        - odds
      properties:
        type:
          type: string
          enum: [milestone]
          description: Market type identifier
        odds:
          type: integer
          description: American odds for milestone bet

    NBAPlayerProp:
      type: object
      description: NBA player prop betting data
      required:
        - id
        - game_id
        - player_id
        - vendor
        - prop_type
        - line_value
        - market
        - updated_at
      properties:
        id:
          type: integer
          description: Unique player prop ID
        game_id:
          type: integer
          description: NBA game ID
        player_id:
          type: integer
          description: NBA player ID
        vendor:
          type: string
          description: Sportsbook vendor name
          enum:
            - draftkings
            - betway
            - betrivers
            - ballybet
        prop_type:
          type: string
          description: Type of player prop
          enum:
            - points
            - rebounds
            - assists
            - threes
            - steals
            - blocks
            - points_1q
            - rebounds_1q
            - assists_1q
            - points_first3min
            - rebounds_first3min
            - assists_first3min
          example: points
        line_value:
          type: string
          description: The line value for the prop
          example: "25.5"
        market:
          oneOf:
            - $ref: "#/components/schemas/NBAPlayerPropMarketOverUnder"
            - $ref: "#/components/schemas/NBAPlayerPropMarketMilestone"
          description: Market information - either over_under or milestone type
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this prop was last updated

    NBAContract:
      type: object
      properties:
        id:
          type: integer
          description: Contract ID
        player_id:
          type: integer
          description: Player ID
        season:
          type: integer
          description: Contract season year
        team_id:
          type: integer
          description: Team ID
        cap_hit:
          type: integer
          nullable: true
          description: Annual salary cap hit in dollars
        total_cash:
          type: integer
          nullable: true
          description: Total cash payment for the season in dollars
        base_salary:
          type: integer
          nullable: true
          description: Base salary in dollars
        rank:
          type: integer
          nullable: true
          description: Salary rank
        player:
          type: object
          description: Player information
          properties:
            id:
              type: integer
            first_name:
              type: string
            last_name:
              type: string
            position:
              type: string
            height:
              type: string
            weight:
              type: string
            jersey_number:
              type: string
            college:
              type: string
            country:
              type: string
            draft_year:
              type: integer
            draft_round:
              type: integer
            draft_number:
              type: integer
            team_id:
              type: integer
        team:
          $ref: "#/components/schemas/NBATeam"

    NBAContractAggregate:
      type: object
      properties:
        id:
          type: integer
          description: Contract aggregate ID
        player_id:
          type: integer
          description: Player ID
        start_year:
          type: integer
          description: First year of contract
        end_year:
          type: integer
          description: Last year of contract
        contract_type:
          type: string
          description: Contract type (e.g., Rookie, Free Agent, Extension)
        contract_status:
          type: string
          nullable: true
          description: Contract status (e.g., CURRENT, UPCOMING EXTENSION)
        contract_years:
          type: integer
          nullable: true
          description: Number of years in contract
        total_value:
          type: integer
          nullable: true
          description: Total contract value in dollars
        average_salary:
          type: integer
          nullable: true
          description: Average annual salary in dollars
        guaranteed_at_signing:
          type: integer
          nullable: true
          description: Guaranteed amount at signing in dollars
        total_guaranteed:
          type: integer
          nullable: true
          description: Total guaranteed amount in dollars
        signed_using:
          type: string
          nullable: true
          description: Exception or method used to sign (e.g., Bird Rights, Cap Space)
        free_agent_year:
          type: integer
          nullable: true
          description: Year player becomes a free agent
        free_agent_status:
          type: string
          nullable: true
          description: Free agent status (e.g., UFA, RFA)
        contract_notes:
          type: object
          nullable: true
          description: Additional contract notes (options, escalators, etc.)
        team_id:
          type: integer
          nullable: true
          description: Team ID that signed the contract
        player:
          type: object
          description: Player information
          properties:
            id:
              type: integer
            first_name:
              type: string
            last_name:
              type: string
            position:
              type: string
            height:
              type: string
            weight:
              type: string
            jersey_number:
              type: string
            college:
              type: string
            country:
              type: string
            draft_year:
              type: integer
            draft_round:
              type: integer
            draft_number:
              type: integer
            team_id:
              type: integer
        team:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/NBATeam"

    NBAPlay:
      type: object
      properties:
        game_id:
          type: integer
          description: Game ID
        order:
          type: integer
          description: Play order number (starts at 1 and increments sequentially)
        type:
          type: string
          description: Play type (e.g., "Jump Shot", "Layup", "Dunk")
        text:
          type: string
          description: Play description
        home_score:
          type: integer
          description: Home team score after play
        away_score:
          type: integer
          description: Away team score after play
        period:
          type: integer
          description: Period number (1-4 for regulation, 5+ for overtime)
        period_display:
          type: string
          description: Period display text (e.g., "1st Quarter", "OT1")
        clock:
          type: string
          description: Game clock at time of play
        scoring_play:
          type: boolean
          description: Whether this is a scoring play
        shooting_play:
          type: boolean
          description: Whether this is a shooting play
        score_value:
          type: integer
          description: Points scored on this play
        team:
          $ref: '#/components/schemas/NBATeam'
        coordinate_x:
          type: number
          nullable: true
          description: X coordinate on court (if available)
        coordinate_y:
          type: number
          nullable: true
          description: Y coordinate on court (if available)
        wallclock:
          type: string
          format: date-time
          nullable: true
          description: Real-world timestamp of play

    NFLTeam:
      type: object
      properties:
        id:
          type: integer
        conference:
          type: string
          enum: [AFC, NFC]
        division:
          type: string
          enum: [NORTH, SOUTH, EAST, WEST]
        location:
          type: string
        name:
          type: string
        full_name:
          type: string
        abbreviation:
          type: string

    NFLPlayer:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        position:
          type: string
        position_abbreviation:
          type: string
        height:
          type: string
        weight:
          type: string
        jersey_number:
          type: string
        college:
          type: string
        experience:
          type: string
        age:
          type: integer
        team:
          $ref: "#/components/schemas/NFLTeam"


    NFLRosterPlayer:
      type: object
      description: NFL player object without team reference (used in roster responses)
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        position:
          type: string
        position_abbreviation:
          type: string
        height:
          type: string
          nullable: true
        weight:
          type: string
          nullable: true
        jersey_number:
          type: string
          nullable: true
        college:
          type: string
          nullable: true
        experience:
          type: string
          nullable: true
        age:
          type: integer
          nullable: true

    NFLRosterEntry:
      type: object
      description: NFL team roster entry with depth chart information
      properties:
        player:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/NFLRosterPlayer"
        position:
          type: string
          description: Position on the depth chart
        depth:
          type: integer
          description: Depth chart position (1 = starter, 2 = backup, etc.)
        player_name:
          type: string
          description: Player name
        injury_status:
          type: string
          nullable: true
          description: Current injury status if applicable
    NFLGame:
      type: object
      properties:
        id:
          type: integer
        visitor_team:
          $ref: "#/components/schemas/NFLTeam"
        home_team:
          $ref: "#/components/schemas/NFLTeam"
        summary:
          type: string
        venue:
          type: string
        week:
          type: integer
        date:
          type: string
          format: date-time
        season:
          type: integer
        postseason:
          type: boolean
        status:
          type: string
        home_team_score:
          type: integer
        visitor_team_score:
          type: integer
        home_team_q1:
          type: integer
        home_team_q2:
          type: integer
        home_team_q3:
          type: integer
        home_team_q4:
          type: integer
        home_team_ot:
          type: integer
        visitor_team_q1:
          type: integer
        visitor_team_q2:
          type: integer
        visitor_team_q3:
          type: integer
        visitor_team_q4:
          type: integer
        visitor_team_ot:
          type: integer

    NFLStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        team:
          $ref: "#/components/schemas/NFLTeam"
        game:
          $ref: "#/components/schemas/NFLGame"
        passing_completions:
          type: integer
        passing_attempts:
          type: integer
        passing_yards:
          type: integer
        yards_per_pass_attempt:
          type: integer
        passing_touchdowns:
          type: integer
        passing_interceptions:
          type: integer
        sacks:
          type: integer
        sacks_loss:
          type: integer
        qbr:
          type: integer
        qb_rating:
          type: integer
        rushing_attempts:
          type: integer
        rushing_yards:
          type: integer
        yards_per_rush_attempt:
          type: integer
        rushing_touchdowns:
          type: integer
        long_rushing:
          type: integer
        receptions:
          type: integer
        receiving_yards:
          type: integer
        yards_per_reception:
          type: integer
        receiving_touchdowns:
          type: integer
        long_reception:
          type: integer
        receiving_targets:
          type: integer
        fumbles:
          type: integer
        fumbles_lost:
          type: integer
        fumbles_recovered:
          type: integer
        total_tackles:
          type: integer
        defensive_sacks:
          type: integer
        solo_tackles:
          type: integer
        tackles_for_loss:
          type: integer
        passes_defended:
          type: integer
        qb_hits:
          type: integer
        fumbles_touchdowns:
          type: integer
        defensive_interceptions:
          type: integer
        interception_yards:
          type: integer
        interception_touchdowns:
          type: integer
        kick_returns:
          type: integer
        kick_return_yards:
          type: integer
        yards_per_kick_return:
          type: integer
        long_kick_return:
          type: integer
        kick_return_touchdowns:
          type: integer
        punt_returns:
          type: integer
        punt_return_yards:
          type: integer
        yards_per_punt_return:
          type: integer
        long_punt_return:
          type: integer
        punt_return_touchdowns:
          type: integer
        field_goal_attempts:
          type: integer
        field_goals_made:
          type: integer
        field_goal_pct:
          type: integer
        long_field_goal_made:
          type: integer
        extra_points_made:
          type: integer
        total_points:
          type: integer
        punts:
          type: integer
        punt_yards:
          type: integer
        gross_avg_punt_yards:
          type: integer
        touchbacks:
          type: integer
        punts_inside_20:
          type: integer
        long_punt:
          type: integer

    NFLStandings:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/NFLTeam"
        win_streak:
          type: integer
        points_for:
          type: integer
        points_against:
          type: integer
        playoff_seed:
          type: integer
        point_differential:
          type: integer
        overall_record:
          type: string
        conference_record:
          type: string
        division_record:
          type: string
        wins:
          type: integer
        losses:
          type: integer
        ties:
          type: integer
        home_record:
          type: string
        road_record:
          type: string
        season:
          type: integer

    NFLPlayerInjury:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        status:
          type: string
        comment:
          type: string
        date:
          type: string
          format: date-time

    NFLSeasonStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        games_played:
          type: integer
        season:
          type: integer
        postseason:
          type: boolean
        passing_completions:
          type: integer
        passing_attempts:
          type: integer
        passing_yards:
          type: integer
        passing_yards_per_game:
          type: number
        passing_touchdowns:
          type: integer
        passing_interceptions:
          type: integer
        passing_completion_pct:
          type: number
        passing_first_downs:
          type: integer
        passing_first_down_pct:
          type: number
        passing_20_plus_yards:
          type: integer
        passing_40_plus_yards:
          type: integer
        passing_long:
          type: integer
        passing_sacks:
          type: integer
        passing_sack_yards:
          type: integer
        qb_rating:
          type: number
        rushing_attempts:
          type: integer
        rushing_yards:
          type: integer
        rushing_yards_per_game:
          type: number
        rushing_average:
          type: number
        rushing_touchdowns:
          type: integer
        rushing_first_downs:
          type: integer
        rushing_first_down_pct:
          type: number
        rushing_20_plus_yards:
          type: integer
        rushing_40_plus_yards:
          type: integer
        rushing_long:
          type: integer
        rushing_fumbles:
          type: integer
        receptions:
          type: integer
        receiving_yards:
          type: integer
        receiving_yards_per_game:
          type: number
        receiving_average:
          type: number
        receiving_touchdowns:
          type: integer
        receiving_targets:
          type: integer
        receiving_first_downs:
          type: integer
        receiving_first_down_pct:
          type: number
        receiving_20_plus_yards:
          type: integer
        receiving_40_plus_yards:
          type: integer
        receiving_long:
          type: integer
        receiving_fumbles:
          type: integer
        fumbles:
          type: integer
        fumbles_lost:
          type: integer
        fumbles_forced:
          type: integer
        fumbles_recovered:
          type: integer
        fumbles_touchdowns:
          type: integer

    NFLAdvancedRushingStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        season:
          type: integer
        week:
          type: integer
        postseason:
          type: boolean
        avg_time_to_los:
          type: number
        expected_rush_yards:
          type: number
        rush_attempts:
          type: integer
        rush_pct_over_expected:
          type: number
        rush_touchdowns:
          type: integer
        rush_yards:
          type: integer
        rush_yards_over_expected:
          type: number
        rush_yards_over_expected_per_att:
          type: number
        efficiency:
          type: number
        percent_attempts_gte_eight_defenders:
          type: number
        avg_rush_yards:
          type: number

    NFLAdvancedPassingStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        season:
          type: integer
        week:
          type: integer
        postseason:
          type: boolean
        aggressiveness:
          type: number
        attempts:
          type: integer
        avg_air_distance:
          type: number
        avg_air_yards_differential:
          type: number
        avg_air_yards_to_sticks:
          type: number
        avg_completed_air_yards:
          type: number
        avg_intended_air_yards:
          type: number
        avg_time_to_throw:
          type: number
        completion_percentage:
          type: number
        completion_percentage_above_expectation:
          type: number
        completions:
          type: integer
        expected_completion_percentage:
          type: number
        games_played:
          type: number
        interceptions:
          type: number
        max_air_distance:
          type: number
        max_completed_air_distance:
          type: number
        pass_touchdowns:
          type: number
        pass_yards:
          type: number
        passer_rating:
          type: number

    NFLAdvancedReceivingStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        season:
          type: integer
        week:
          type: integer
        postseason:
          type: boolean
        avg_cushion:
          type: number
        avg_expected_yac:
          type: number
        avg_intended_air_yards:
          type: number
        avg_separation:
          type: number
        avg_yac:
          type: number
        avg_yac_above_expectation:
          type: number
        catch_percentage:
          type: number
        percent_share_of_intended_air_yards:
          type: number
        rec_touchdowns:
          type: integer
        receptions:
          type: integer
        targets:
          type: integer
        yards:
          type: integer

    NFLBettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        game_id:
          type: integer
          description: Game ID
        vendor:
          type: string
          description: Sportsbook vendor name
        spread_home_value:
          type: string
          nullable: true
          description: Home team spread value
        spread_home_odds:
          type: integer
          nullable: true
          description: Home team spread odds
        spread_away_value:
          type: string
          nullable: true
          description: Away team spread value
        spread_away_odds:
          type: integer
          nullable: true
          description: Away team spread odds
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        total_value:
          type: string
          nullable: true
          description: Total points line value
        total_over_odds:
          type: integer
          nullable: true
          description: Over total odds
        total_under_odds:
          type: integer
          nullable: true
          description: Under total odds
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    NFLPlayerPropMarketOverUnder:
      type: object
      description: Over/under market type for NFL player props
      required:
        - type
        - over_odds
        - under_odds
      properties:
        type:
          type: string
          enum: [over_under]
          description: Market type identifier
        over_odds:
          type: integer
          description: American odds for over bet
        under_odds:
          type: integer
          description: American odds for under bet

    NFLPlayerPropMarketMilestone:
      type: object
      description: Milestone market type for NFL player props
      required:
        - type
        - odds
      properties:
        type:
          type: string
          enum: [milestone]
          description: Market type identifier
        odds:
          type: integer
          description: American odds for milestone bet

    NFLPlayerProp:
      type: object
      description: NFL player prop betting data
      required:
        - id
        - game_id
        - player_id
        - vendor
        - prop_type
        - line_value
        - market
        - updated_at
      properties:
        id:
          type: integer
          description: Unique player prop ID
        game_id:
          type: integer
          description: NFL game ID
        player_id:
          type: integer
          description: NFL player ID
        vendor:
          type: string
          description: Sportsbook vendor name
          enum:
            - draftkings
            - betway
            - betrivers
            - ballybet
            - betparx
        prop_type:
          type: string
          description: Type of player prop
          enum:
            - anytime_td
            - anytime_td_1h
            - anytime_td_1q
            - anytime_td_2h
            - fg_made
            - fg_made_1h
            - first_td
            - interceptions
            - kicking_points
            - longest_pass
            - longest_reception
            - longest_rush
            - passing_attempts
            - passing_completions
            - passing_tds
            - passing_tds_1h
            - passing_yards
            - passing_yards_1h
            - receiving_yards
            - receiving_yards_1h
            - receptions
            - rushing_attempts
            - rushing_receiving_yards
            - rushing_yards
            - rushing_yards_1h
          example: rushing_yards
        line_value:
          type: string
          description: The line value for the prop
          example: "275.5"
        market:
          oneOf:
            - $ref: "#/components/schemas/NFLPlayerPropMarketOverUnder"
            - $ref: "#/components/schemas/NFLPlayerPropMarketMilestone"
          description: Market information - either over_under or milestone type
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this prop was last updated

    NFLTeamSeasonStat:
      type: object
      description: Comprehensive team season statistics including offense, defense, special teams, and opponent stats
      properties:
        team:
          $ref: "#/components/schemas/NFLTeam"
        season:
          type: integer
        season_type:
          type: integer
          description: Season type (2 = regular season, 3 = postseason)
        games_played:
          type: number
          nullable: true
        total_offensive_yards:
          type: number
          nullable: true
          description: Total offensive yards (corrected from passing_total_yards)
        total_offensive_yards_per_game:
          type: number
          nullable: true
        total_points:
          type: number
          nullable: true
        total_points_per_game:
          type: number
          nullable: true
        passing_completions:
          type: number
          nullable: true
        passing_yards:
          type: number
          nullable: true
        passing_yards_per_game:
          type: number
          nullable: true
        passing_attempts:
          type: number
          nullable: true
        passing_touchdowns:
          type: number
          nullable: true
        passing_interceptions:
          type: number
          nullable: true
        rushing_yards:
          type: number
          nullable: true
        rushing_yards_per_game:
          type: number
          nullable: true
        rushing_attempts:
          type: number
          nullable: true
        rushing_touchdowns:
          type: number
          nullable: true
        receiving_receptions:
          type: number
          nullable: true
        receiving_yards:
          type: number
          nullable: true
        receiving_touchdowns:
          type: number
          nullable: true
        # Note: Schema includes 200+ additional fields for detailed stats, special teams, and opponent stats

    NFLTeamStat:
      type: object
      description: Team game statistics
      properties:
        game:
          $ref: "#/components/schemas/NFLGame"
        team:
          $ref: "#/components/schemas/NFLTeam"
        home_away:
          type: string
          description: Whether team is home or away
        first_downs:
          type: integer
          nullable: true
        first_downs_passing:
          type: integer
          nullable: true
        first_downs_rushing:
          type: integer
          nullable: true
        third_down_efficiency:
          type: string
          nullable: true
        third_down_conversions:
          type: integer
          nullable: true
        third_down_attempts:
          type: integer
          nullable: true
        total_yards:
          type: integer
          nullable: true
        yards_per_play:
          type: integer
          nullable: true
        net_passing_yards:
          type: integer
          nullable: true
        passing_completions:
          type: integer
          nullable: true
        passing_attempts:
          type: integer
          nullable: true
        sacks:
          type: integer
          nullable: true
        rushing_yards:
          type: integer
          nullable: true
        rushing_attempts:
          type: integer
          nullable: true
        turnovers:
          type: integer
          nullable: true
        fumbles_lost:
          type: integer
          nullable: true
        interceptions_thrown:
          type: integer
          nullable: true
        penalties:
          type: integer
          nullable: true
        penalty_yards:
          type: integer
          nullable: true
        possession_time:
          type: string
          nullable: true

    NFLPlay:
      type: object
      description: Play-by-play data for NFL games
      properties:
        id:
          type: string
        game:
          $ref: "#/components/schemas/NFLGame"
        type_slug:
          type: string
          nullable: true
        type_abbreviation:
          type: string
          nullable: true
        type_text:
          type: string
          nullable: true
        text:
          type: string
          description: Full play description
        short_text:
          type: string
          nullable: true
        away_score:
          type: integer
        home_score:
          type: integer
        scoring_play:
          type: boolean
        period:
          type: integer
        clock_display:
          type: string
          nullable: true
        team:
          allOf:
            - $ref: "#/components/schemas/NFLTeam"
          nullable: true
        start_yard_line:
          type: integer
          nullable: true
        start_down:
          type: integer
          nullable: true
        start_distance:
          type: integer
          nullable: true
        end_yard_line:
          type: integer
          nullable: true
        end_down:
          type: integer
          nullable: true
        end_distance:
          type: integer
          nullable: true
        stat_yardage:
          type: integer
          nullable: true
        home_win_probability:
          type: number
          nullable: true
        wallclock:
          type: string
          format: date-time
          nullable: true
          description: Real-time timestamp of the play

    MLBTeam:
      type: object
      properties:
        id:
          type: integer
        slug:
          type: string
        abbreviation:
          type: string
        display_name:
          type: string
        short_display_name:
          type: string
        name:
          type: string
        location:
          type: string
        league:
          type: string
          enum: [American, National]
        division:
          type: string
          enum: [East, Central, West]

    MLBPlayer:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        debut_year:
          type: integer
          nullable: true
        jersey:
          type: string
        college:
          type: string
        position:
          type: string
        active:
          type: boolean
        birth_place:
          type: string
        dob:
          type: string
        age:
          type: integer
          nullable: true
        height:
          type: string
        weight:
          type: string
        draft:
          type: string
        bats_throws:
          type: string
        team:
          $ref: "#/components/schemas/MLBTeam"

    MLBGame:
      type: object
      properties:
        id:
          type: integer
        home_team_name:
          type: string
        away_team_name:
          type: string
        home_team:
          $ref: "#/components/schemas/MLBTeam"
        away_team:
          $ref: "#/components/schemas/MLBTeam"
        season:
          type: integer
        postseason:
          type: boolean
        season_type:
          type: string
          enum: [spring_training, regular, postseason]
          description: The type of season (spring_training, regular, or postseason)
        date:
          type: string
          format: date-time
        home_team_data:
          type: object
          properties:
            hits:
              type: integer
            runs:
              type: integer
            errors:
              type: integer
            inning_scores:
              type: array
              items:
                type: integer
        away_team_data:
          type: object
          properties:
            hits:
              type: integer
            runs:
              type: integer
            errors:
              type: integer
            inning_scores:
              type: array
              items:
                type: integer
        venue:
          type: string
        attendance:
          type: integer
        conference_play:
          type: boolean
        period:
          type: integer
          nullable: true
        clock:
          type: string
          nullable: true
        display_clock:
          type: string
          nullable: true
        scoring_summary:
          type: array
          items:
            type: object
        status:
          type: string

    MLBStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/MLBPlayer"
        game_id:
          type: integer
          description: The ID of the game this stat belongs to
        team_name:
          type: string
        at_bats:
          type: integer
          nullable: true
        runs:
          type: integer
          nullable: true
        hits:
          type: integer
          nullable: true
        rbi:
          type: integer
          nullable: true
        hr:
          type: integer
          nullable: true
        bb:
          type: integer
          nullable: true
        k:
          type: integer
          nullable: true
        avg:
          type: number
          nullable: true
        obp:
          type: number
          nullable: true
        slg:
          type: number
          nullable: true
        doubles:
          type: integer
          nullable: true
          description: Doubles (from detailed box score)
        triples:
          type: integer
          nullable: true
        intentional_walks:
          type: integer
          nullable: true
        hit_by_pitch:
          type: integer
          nullable: true
        stolen_bases:
          type: integer
          nullable: true
        caught_stealing:
          type: integer
          nullable: true
        plate_appearances:
          type: integer
          nullable: true
        total_bases:
          type: integer
          nullable: true
        left_on_base:
          type: integer
          nullable: true
        fly_outs:
          type: integer
          nullable: true
        ground_outs:
          type: integer
          nullable: true
        line_outs:
          type: integer
          nullable: true
        pop_outs:
          type: integer
          nullable: true
        air_outs:
          type: integer
          nullable: true
        gidp:
          type: integer
          nullable: true
          description: Grounded into double play
        sac_bunts:
          type: integer
          nullable: true
        sac_flies:
          type: integer
          nullable: true
        ip:
          type: number
          nullable: true
          description: Innings pitched
        p_hits:
          type: integer
          nullable: true
          description: Hits allowed (pitching)
        p_runs:
          type: integer
          nullable: true
          description: Runs allowed (pitching)
        er:
          type: integer
          nullable: true
          description: Earned runs
        p_bb:
          type: integer
          nullable: true
          description: Walks allowed (pitching)
        p_k:
          type: integer
          nullable: true
          description: Strikeouts (pitching)
        p_hr:
          type: integer
          nullable: true
          description: Home runs allowed (pitching)
        pitch_count:
          type: integer
          nullable: true
        strikes:
          type: integer
          nullable: true
        era:
          type: number
          nullable: true
        batters_faced:
          type: integer
          nullable: true
        pitching_outs:
          type: integer
          nullable: true
        wins:
          type: integer
          nullable: true
        losses:
          type: integer
          nullable: true
        saves:
          type: integer
          nullable: true
        holds:
          type: integer
          nullable: true
        blown_saves:
          type: integer
          nullable: true
        games_started:
          type: integer
          nullable: true
        wild_pitches:
          type: integer
          nullable: true
        balks:
          type: integer
          nullable: true
        pitching_hbp:
          type: integer
          nullable: true
          description: Hit batters (pitching)
        inherited_runners:
          type: integer
          nullable: true
        inherited_runners_scored:
          type: integer
          nullable: true
        putouts:
          type: integer
          nullable: true
        assists:
          type: integer
          nullable: true
        errors:
          type: integer
          nullable: true
        fielding_chances:
          type: integer
          nullable: true
        fielding_pct:
          type: number
          nullable: true

    MLBPlay:
      type: object
      properties:
        game_id:
          type: integer
        order:
          type: integer
          description: Sequential play order number
        type:
          type: string
          nullable: true
          description: Type of play (e.g., "Start Batter/Pitcher", "Play Result", "Fly Out")
        text:
          type: string
          nullable: true
          description: Human-readable play description
        home_score:
          type: integer
        away_score:
          type: integer
        inning:
          type: integer
        inning_type:
          type: string
          nullable: true
          description: '"Top" or "Bottom"'
        scoring_play:
          type: boolean
        score_value:
          type: integer
          nullable: true
        outs:
          type: integer
          nullable: true
        balls:
          type: integer
          nullable: true
        strikes:
          type: integer
          nullable: true
        batter_id:
          type: integer
          nullable: true
          description: Player ID of the batter
        pitcher_id:
          type: integer
          nullable: true
          description: Player ID of the pitcher
        pitch_type:
          type: string
          nullable: true
        pitch_velocity:
          type: number
          nullable: true
          description: Pitch velocity in mph
        hit_coordinate_x:
          type: number
          nullable: true
        hit_coordinate_y:
          type: number
          nullable: true
        trajectory:
          type: string
          nullable: true
          description: Hit trajectory (F=fly, G=ground, L=line drive)

    MLBPitchDetail:
      type: object
      properties:
        pitch_number:
          type: integer
          description: Pitch number within the plate appearance
        balls:
          type: integer
          nullable: true
          description: Ball count before this pitch
        strikes:
          type: integer
          nullable: true
          description: Strike count before this pitch
        pitch_call:
          type: string
          nullable: true
          description: Umpire call (B=ball, S=strike, X=in play)
        pitch_type_code:
          type: string
          nullable: true
          description: Short pitch type code (FF, SL, CU, CH, etc.)
        pitch_type:
          type: string
          nullable: true
          description: Full pitch type name (e.g., "4-Seam Fastball")
        release_speed:
          type: number
          nullable: true
          description: Pitch velocity at release (mph)
        plate_speed:
          type: number
          nullable: true
          description: Pitch velocity at plate (mph)
        spin_rate:
          type: number
          nullable: true
          description: Spin rate (RPM)
        release_extension:
          type: number
          nullable: true
          description: Pitcher extension (feet)
        plate_time:
          type: number
          nullable: true
          description: Time to reach plate (seconds)
        plate_x:
          type: number
          nullable: true
          description: Horizontal plate location (feet from center)
        plate_z:
          type: number
          nullable: true
          description: Vertical plate location (feet above ground)
        strike_zone:
          type: integer
          nullable: true
          description: Strike zone region (1-14)
        strike_zone_top:
          type: number
          nullable: true
        strike_zone_bottom:
          type: number
          nullable: true
        horizontal_movement:
          type: number
          nullable: true
          description: Horizontal pitch movement (inches)
        vertical_movement:
          type: number
          nullable: true
          description: Vertical pitch movement (inches)
        horizontal_break:
          type: number
          nullable: true
        vertical_break:
          type: number
          nullable: true
        induced_vertical_break:
          type: number
          nullable: true
          description: Gravity-corrected vertical break (inches)
        release_pos_x:
          type: number
          nullable: true
        release_pos_y:
          type: number
          nullable: true
        release_pos_z:
          type: number
          nullable: true
        velocity_x:
          type: number
          nullable: true
        velocity_y:
          type: number
          nullable: true
        velocity_z:
          type: number
          nullable: true
        acceleration_x:
          type: number
          nullable: true
        acceleration_y:
          type: number
          nullable: true
        acceleration_z:
          type: number
          nullable: true
        bat_speed:
          type: number
          nullable: true
          description: Bat speed on contact (mph)
        game_pitch_count:
          type: integer
          nullable: true
          description: Total pitches in the game so far
        pitcher_pitch_count:
          type: integer
          nullable: true
          description: Pitcher's pitch count

    MLBPlateAppearance:
      type: object
      properties:
        batter_id:
          type: integer
          description: Player ID of the batter
        pitcher_id:
          type: integer
          description: Player ID of the pitcher
        inning:
          type: integer
        half_inning:
          type: string
          description: '"top" or "bottom"'
        pa_number:
          type: integer
          description: Plate appearance number within the game
        outs:
          type: integer
          nullable: true
          description: Number of outs at the start of the plate appearance
        batter_side:
          type: string
          nullable: true
          description: Batter stance (L or R)
        pitcher_hand:
          type: string
          nullable: true
          description: Pitcher throwing hand (L or R)
        result:
          type: string
          nullable: true
          description: Outcome of the plate appearance (e.g., "Strikeout", "Single")
        is_ball_in_play_out:
          type: boolean
          nullable: true
        runner_on_first:
          type: boolean
          nullable: true
        runner_on_second:
          type: boolean
          nullable: true
        runner_on_third:
          type: boolean
          nullable: true
        pitches:
          type: array
          items:
            $ref: "#/components/schemas/MLBPitchDetail"
          description: Individual pitches in this plate appearance

    MLBBettingOdd:
      type: object
      properties:
        id:
          type: integer
        game_id:
          type: integer
        vendor:
          type: string
          description: Sportsbook vendor name
        spread_home_value:
          type: string
          nullable: true
        spread_home_odds:
          type: integer
          nullable: true
        spread_away_value:
          type: string
          nullable: true
        spread_away_odds:
          type: integer
          nullable: true
        moneyline_home_odds:
          type: integer
          nullable: true
        moneyline_away_odds:
          type: integer
          nullable: true
        total_value:
          type: string
          nullable: true
        total_over_odds:
          type: integer
          nullable: true
        total_under_odds:
          type: integer
          nullable: true
        updated_at:
          type: string
          format: date-time

    MLBPlayerProp:
      type: object
      properties:
        id:
          type: integer
        game_id:
          type: integer
        player_id:
          type: integer
        vendor:
          type: string
        prop_type:
          type: string
          description: "Type of prop (e.g., hits, home_runs, pitcher_strikeouts)"
        line_value:
          type: string
        market:
          type: object
          properties:
            type:
              type: string
              enum: [over_under, milestone]
            over_odds:
              type: integer
              nullable: true
            under_odds:
              type: integer
              nullable: true
            odds:
              type: integer
              nullable: true
              description: Used for milestone market type
        updated_at:
          type: string
          format: date-time

    MLBStandings:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/MLBTeam"
        league_name:
          type: string
        league_short_name:
          type: string
        division_name:
          type: string
        division_short_name:
          type: string
        wins:
          type: integer
        losses:
          type: integer
        win_percent:
          type: number
        games_behind:
          type: number
        streak:
          type: integer
        last_ten_games:
          type: string
        season:
          type: integer
        clinch_indicator:
          type: string
        elimination_number:
          type: integer
        wild_card_elimination_number:
          type: integer
        league_rank:
          type: integer
        sport_rank:
          type: integer
        division_rank:
          type: integer
        league_games_back:
          type: number
        sport_games_back:
          type: number
        division_games_back:
          type: number
        conference_games_back:
          type: number
        division_leader:
          type: boolean
        division_champ:
          type: boolean
        runs_allowed:
          type: integer
        runs_scored:
          type: integer
        run_differential:
          type: integer
        home_wins:
          type: integer
        home_losses:
          type: integer
        away_wins:
          type: integer
        away_losses:
          type: integer
        last_updated:
          type: string
        records:
          type: object
        day_wins:
          type: integer
        day_losses:
          type: integer
        night_wins:
          type: integer
        night_losses:
          type: integer
        one_run_wins:
          type: integer
        one_run_losses:
          type: integer
        extra_inning_wins:
          type: integer
        extra_inning_losses:
          type: integer

    MLBSeasonStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/MLBPlayer"
        team_name:
          type: string
        season:
          type: integer
        postseason:
          type: boolean
        season_type:
          type: string
          enum: [spring_training, regular, postseason]
        batting_gp:
          type: integer
        batting_ab:
          type: integer
        batting_r:
          type: integer
        batting_h:
          type: integer
        batting_avg:
          type: number
        batting_2b:
          type: integer
        batting_3b:
          type: integer
        batting_hr:
          type: integer
        batting_rbi:
          type: integer
        batting_tb:
          type: integer
        batting_bb:
          type: integer
        batting_so:
          type: integer
        batting_sb:
          type: integer
        batting_obp:
          type: number
        batting_slg:
          type: number
        batting_ops:
          type: number
        batting_war:
          type: number
        pitching_gp:
          type: integer
        pitching_gs:
          type: integer
        pitching_qs:
          type: integer
        pitching_w:
          type: integer
        pitching_l:
          type: integer
        pitching_era:
          type: number
        pitching_sv:
          type: integer
        pitching_hld:
          type: integer
        pitching_ip:
          type: number
        pitching_h:
          type: integer
        pitching_er:
          type: integer
        pitching_hr:
          type: integer
        pitching_bb:
          type: integer
        pitching_whip:
          type: number
        pitching_k:
          type: integer
        pitching_k_per_9:
          type: number
        pitching_war:
          type: number
        fielding_gp:
          type: integer
        fielding_gs:
          type: integer
        fielding_fip:
          type: number
        fielding_tc:
          type: integer
        fielding_po:
          type: integer
        fielding_a:
          type: integer
        fielding_fp:
          type: number
        fielding_e:
          type: integer
        fielding_dp:
          type: integer
        fielding_rf:
          type: number
        fielding_dwar:
          type: number
        fielding_pb:
          type: integer
        fielding_cs:
          type: integer
        fielding_cs_percent:
          type: number
        fielding_sba:
          type: integer

    MLBTeamSeasonStats:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/MLBTeam"
        team_name:
          type: string
        postseason:
          type: boolean
        season_type:
          type: string
          enum: [spring_training, regular, postseason]
        season:
          type: integer
        gp:
          type: integer
        batting_ab:
          type: integer
        batting_r:
          type: integer
        batting_h:
          type: integer
        batting_2b:
          type: integer
        batting_3b:
          type: integer
        batting_hr:
          type: integer
        batting_rbi:
          type: integer
        batting_tb:
          type: integer
        batting_bb:
          type: integer
        batting_so:
          type: integer
        batting_sb:
          type: integer
        batting_avg:
          type: number
        batting_obp:
          type: number
        batting_slg:
          type: number
        batting_ops:
          type: number
        pitching_w:
          type: integer
        pitching_l:
          type: integer
        pitching_era:
          type: number
        pitching_sv:
          type: integer
        pitching_cg:
          type: integer
        pitching_sho:
          type: integer
        pitching_qs:
          type: integer
        pitching_ip:
          type: number
        pitching_h:
          type: integer
        pitching_er:
          type: integer
        pitching_hr:
          type: integer
        pitching_bb:
          type: integer
        pitching_k:
          type: integer
        pitching_oba:
          type: number
        pitching_whip:
          type: number
        fielding_e:
          type: integer
        fielding_fp:
          type: number
        fielding_tc:
          type: integer
        fielding_po:
          type: integer
        fielding_a:
          type: integer

    EPLPlayerStatEnum:
      type: string
      enum: &PLAYER_STAT_TYPES [
        "goals",
        "goal_assist",
        "clean_sheet",
        "appearances",
        "mins_played",
        "yellow_card",
        "red_card",
        "total_pass",
        "touches",
        "total_scoring_att",
        "hit_woodwork",
        "big_chance_missed",
        "total_offside",
        "total_tackle",
        "fouls",
        "dispossessed",
        "own_goals",
        "total_clearance",
        "clearance_off_line",
        "saves",
        "penalty_save", 
        "total_high_claim",
        "punches"
      ]

    EPLTeamStatEnum:
      type: string  
      enum: &TEAM_STAT_TYPES [
        "wins",
        "losses",
        "touches",
        "own_goals",
        "total_yel_card",
        "total_red_card",
        "goals",
        "total_pass",
        "total_scoring_att",
        "total_offside",
        "hit_woodwork",
        "big_chance_missed",
        "total_tackle",
        "total_clearance",
        "clearance_off_line",
        "dispossessed",
        "clean_sheet",
        "saves",
        "penalty_save",
        "total_high_claim",
        "punches"
      ]

    EPLTeam:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        short_name:
          type: string
        abbr:
          type: string
        city:
          type: string
        stadium:
          type: string

    EPLPlayer:
      type: object
      properties:
        id:
          type: integer
        position:
          type: string
          nullable: true
        national_team:
          type: string
          nullable: true
        height:
          type: integer
          nullable: true
        weight:
          type: integer
          nullable: true
        birth_date:
          type: string
          format: date-time
          nullable: true
        age:
          type: string
          nullable: true
        name:
          type: string
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        team_ids:
          type: array
          nullable: true
          items:
            type: integer

    EPLTeamSeasonStat:
      type: object
      properties:
        value:
          type: number
        name:
          type: string
        rank:
          type: integer
        season:
          type: integer

    EPLPlayerSeasonStat:
      type: object
      properties:
        value:
          type: number
        name:
          type: string
        rank:
          type: integer
        season:
          type: integer

    EPLGame:
      type: object
      properties:
        id:
          type: integer
        week:
          type: integer
        kickoff:
          type: string
          format: date-time
          nullable: true
        provisional_kickoff:
          type: string
          format: date-time
          nullable: true
        home_team_id:
          type: integer
        away_team_id:
          type: integer
        home_score:
          type: integer
          nullable: true
        away_score:
          type: integer
          nullable: true
        status:
          type: string
          nullable: true
        season:
          type: integer
        ground:
          type: string
          nullable: true
        clock:
          type: integer
          nullable: true
        clock_display:
          type: string
          nullable: true
        extra_time:
          type: boolean
          nullable: true

    EPLGameLineup:
      type: object
      properties:
        team_id:
          type: integer
        player:
          $ref: '#/components/schemas/EPLPlayer'
        substitute:
          type: boolean
        captain:
          type: boolean
        position:
          type: string
          nullable: true
        shirt_number:
          type: integer
          nullable: true
        sub_clock:
          type: integer
          nullable: true
        sub_clock_display:
          type: string
          nullable: true

    EPLGameGoal:
      type: object
      properties:
        game_id:
          type: integer
        scorer:
          $ref: '#/components/schemas/EPLPlayer'
        assister:
          $ref: '#/components/schemas/EPLPlayer'
          nullable: true
        clock:
          type: integer
        clock_display:
          type: string
          nullable: true
        phase:
          type: string
          nullable: true
        type:
          type: string
          nullable: true

    EPLGameTeamStats:
      type: object
      properties:
        game_id:
          type: integer
        teams:
          type: array
          items:
            type: object
            properties:
              team_id:
                type: integer
              stats:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: number

    EPLGamePlayerStats:
      type: object
      properties:
        game_id:
          type: integer
        players:
          type: array
          items:
            type: object
            properties:
              team_id:
                type: integer
              player_id:
                type: integer
              stats:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: number

    EPLStanding:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/EPLTeam'
        season:
          type: integer
        position:
          type: integer
        form:
          type: string
        home_played:
          type: integer
        home_drawn:
          type: integer
        home_won:
          type: integer
        home_lost:
          type: integer
        home_goals_against:
          type: integer
        home_goals_difference:
          type: integer
        home_goals_for:
          type: integer
        home_points:
          type: integer
        away_played:
          type: integer
        away_drawn:
          type: integer
        away_won:
          type: integer
        away_lost:
          type: integer
        away_goals_against:
          type: integer
        away_goals_difference:
          type: integer
        away_goals_for:
          type: integer
        away_points:
          type: integer
        overall_played:
          type: integer
        overall_drawn:
          type: integer
        overall_won:
          type: integer
        overall_lost:
          type: integer
        overall_goals_against:
          type: integer
        overall_goals_difference:
          type: integer
        overall_goals_for:
          type: integer
        overall_points:
          type: integer

    EPLPlayerStatLeaders:
      type: object
      properties:
        player:
          $ref: '#/components/schemas/EPLPlayer'
        season:
          type: integer
        rank:
          type: integer
        value:
          type: number
        name:
          type: string

    EPLTeamStatLeaders:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/EPLTeam'
        season:
          type: integer
        rank:
          type: integer
        value:
          type: number
        name:
          type: string

    EPLBettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        game_id:
          type: integer
          description: Game ID
        vendor:
          type: string
          description: Sportsbook vendor name
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        moneyline_draw_odds:
          type: integer
          nullable: true
          description: Draw moneyline odds
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    EPLPlayerPropMarketOverUnder:
      type: object
      description: Over/under market type for EPL player props
      required:
        - type
        - over_odds
        - under_odds
      properties:
        type:
          type: string
          enum: [over_under]
          description: Market type identifier
        over_odds:
          type: integer
          description: American odds for over bet
        under_odds:
          type: integer
          description: American odds for under bet

    EPLPlayerPropMarketMilestone:
      type: object
      description: Milestone market type for EPL player props
      required:
        - type
        - odds
      properties:
        type:
          type: string
          enum: [milestone]
          description: Market type identifier
        odds:
          type: integer
          description: American odds for milestone bet

    EPLPlayerProp:
      type: object
      description: EPL player prop betting data
      required:
        - id
        - game_id
        - player_id
        - vendor
        - prop_type
        - line_value
        - market
        - updated_at
      properties:
        id:
          type: integer
          description: Unique player prop ID
        game_id:
          type: integer
          description: EPL game ID
        player_id:
          type: integer
          description: EPL player ID
        vendor:
          type: string
          description: Sportsbook vendor name
          enum:
            - draftkings
            - fanduel
            - caesars
        prop_type:
          type: string
          description: Type of player prop
          enum:
            - anytime_goal
            - assists
            - first_goal
            - first_half_goal
            - goals_assists
            - header_goal
            - last_goal
            - outside_box_goal
            - saves
            - second_half_goal
            - shots
            - shots_on_target
            - tackles
          example: anytime_goal
        line_value:
          type: string
          description: The line value for the prop
          example: "1.0"
        market:
          oneOf:
            - $ref: "#/components/schemas/EPLPlayerPropMarketOverUnder"
            - $ref: "#/components/schemas/EPLPlayerPropMarketMilestone"
          description: Market information - either over_under or milestone type
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this prop was last updated

    # Soccer League Schemas (shared by La Liga, Serie A, UCL, Bundesliga, Ligue 1)
    SoccerTeam:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        short_name:
          type: string
          nullable: true
        abbreviation:
          type: string
          nullable: true
        location:
          type: string
          nullable: true

    SoccerPlayer:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        display_name:
          type: string
        short_name:
          type: string
          nullable: true
        date_of_birth:
          type: string
          format: date
          nullable: true
        age:
          type: integer
          nullable: true
        height:
          type: string
          nullable: true
        weight:
          type: string
          nullable: true
        citizenship:
          type: string
          nullable: true
        team_ids:
          type: array
          nullable: true
          items:
            type: integer

    SoccerRoster:
      type: object
      properties:
        team_id:
          type: integer
        player:
          $ref: '#/components/schemas/SoccerPlayer'
        season:
          type: integer
        jersey_number:
          type: string
          nullable: true
        position:
          type: string
          nullable: true
        position_abbreviation:
          type: string
          nullable: true
        is_active:
          type: boolean

    SoccerStanding:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/SoccerTeam'
        season:
          type: integer
        rank:
          type: integer
        rank_change:
          type: integer
          nullable: true
        group_name:
          type: string
          nullable: true
          description: Group identifier for tournament-style leagues (e.g., UCL Group A)
        note:
          type: string
          nullable: true
        games_played:
          type: integer
        wins:
          type: integer
        losses:
          type: integer
        draws:
          type: integer
        points:
          type: integer
        goals_for:
          type: integer
        goals_against:
          type: integer
        goal_differential:
          type: integer
        points_per_game:
          type: number
          nullable: true

    SoccerMatch:
      type: object
      properties:
        id:
          type: integer
        season:
          type: integer
        home_team_id:
          type: integer
          nullable: true
        away_team_id:
          type: integer
          nullable: true
        date:
          type: string
          format: date-time
        name:
          type: string
          nullable: true
        short_name:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        status_detail:
          type: string
          nullable: true
        home_score:
          type: integer
          nullable: true
        away_score:
          type: integer
          nullable: true
        venue_name:
          type: string
          nullable: true
        venue_city:
          type: string
          nullable: true
        attendance:
          type: integer
          nullable: true

    SoccerMatchEvent:
      type: object
      properties:
        id:
          type: integer
        match_id:
          type: integer
        team_id:
          type: integer
          nullable: true
        event_type:
          type: string
          description: Type of event (e.g., goal, yellow_card, red_card, substitution)
        event_time:
          type: integer
          nullable: true
          description: Time in minutes when the event occurred
        period:
          type: integer
          nullable: true
          description: Period/half when the event occurred
        player:
          $ref: '#/components/schemas/SoccerPlayer'
          nullable: true
        secondary_player:
          $ref: '#/components/schemas/SoccerPlayer'
          nullable: true
          description: Second player involved (e.g., substitute coming in, assisting player)
        goal_type:
          type: string
          nullable: true
        is_own_goal:
          type: boolean

    SoccerMatchLineup:
      type: object
      properties:
        match_id:
          type: integer
        team_id:
          type: integer
        player:
          $ref: '#/components/schemas/SoccerPlayer'
        is_starter:
          type: boolean
        position:
          type: string
          nullable: true
        position_abbreviation:
          type: string
          nullable: true
        formation_position:
          type: string
          nullable: true
        jersey_number:
          type: string
          nullable: true

    SoccerPlayerMatchStats:
      type: object
      properties:
        match_id:
          type: integer
        player_id:
          type: integer
        team_id:
          type: integer
        appearances:
          type: integer
        goals:
          type: integer
        assists:
          type: integer
        shots_total:
          type: integer
          nullable: true
        shots_on_target:
          type: integer
          nullable: true
        fouls_committed:
          type: integer
          nullable: true
        fouls_suffered:
          type: integer
          nullable: true
        offsides:
          type: integer
          nullable: true
        saves:
          type: integer
          nullable: true
        yellow_cards:
          type: integer
        red_cards:
          type: integer
        own_goals:
          type: integer

    SoccerTeamMatchStats:
      type: object
      properties:
        match_id:
          type: integer
        team_id:
          type: integer
        possession_pct:
          type: number
          nullable: true
        shots:
          type: integer
          nullable: true
        shots_on_target:
          type: integer
          nullable: true
        fouls:
          type: integer
          nullable: true
        yellow_cards:
          type: integer
          nullable: true
        red_cards:
          type: integer
          nullable: true
        corners:
          type: integer
          nullable: true
        passes:
          type: integer
          nullable: true
        pass_accuracy_pct:
          type: number
          nullable: true

    SoccerBettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        match_id:
          type: integer
          description: Match ID
        vendor:
          type: string
          description: Sportsbook vendor name
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        moneyline_draw_odds:
          type: integer
          nullable: true
          description: Draw moneyline odds
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    SoccerPlayerPropMarketOverUnder:
      type: object
      description: Over/under market type for soccer player props
      required:
        - type
        - over_odds
        - under_odds
      properties:
        type:
          type: string
          enum: [over_under]
          description: Market type identifier
        over_odds:
          type: integer
          description: American odds for over bet
        under_odds:
          type: integer
          description: American odds for under bet

    SoccerPlayerPropMarketMilestone:
      type: object
      description: Milestone market type for soccer player props
      required:
        - type
        - odds
      properties:
        type:
          type: string
          enum: [milestone]
          description: Market type identifier
        odds:
          type: integer
          description: American odds for milestone bet

    SoccerPlayerProp:
      type: object
      description: Soccer player prop betting data
      required:
        - id
        - match_id
        - player_id
        - vendor
        - prop_type
        - line_value
        - market
        - updated_at
      properties:
        id:
          type: integer
          description: Unique player prop ID
        match_id:
          type: integer
          description: Match ID
        player_id:
          type: integer
          description: Player ID
        vendor:
          type: string
          description: Sportsbook vendor name
          enum:
            - draftkings
            - fanduel
            - caesars
        prop_type:
          type: string
          description: Type of player prop
          enum:
            - anytime_goal
            - assists
            - first_goal
            - first_half_goal
            - goals_assists
            - header_goal
            - last_goal
            - outside_box_goal
            - saves
            - second_half_goal
            - shots
            - shots_on_target
            - tackles
          example: anytime_goal
        line_value:
          type: string
          description: The line value for the prop
          example: "0.5"
        market:
          oneOf:
            - $ref: "#/components/schemas/SoccerPlayerPropMarketOverUnder"
            - $ref: "#/components/schemas/SoccerPlayerPropMarketMilestone"
          description: Market information - either over_under or milestone type
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this prop was last updated

    SoccerFuturesOdd:
      type: object
      description: Soccer futures betting odds (tournament winner, etc.)
      properties:
        id:
          type: integer
          description: Unique futures odd ID
        market_type:
          type: string
          description: Type of futures market (e.g., outright_winner)
        market_name:
          type: string
          description: Human-readable market name
        subject:
          $ref: '#/components/schemas/SoccerTeam'
          description: Team that this futures odd is for
        vendor:
[...]
