openapi: 3.1.0
info:
  title: BALLDONTLIE - NFL API
  version: 1.0.0
  description: NFL endpoints for the BallDontLie API.
servers:
  - url: https://api.balldontlie.io
    description: Production server
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    NFLPlayerDesignation:
      type: object
      description: >-
        Game-scoped player participation and availability. Practice participation,
        game availability, game-day active status, and completed-game participation
        describe different things. A player can miss practice and still play, or
        practice fully while having a reported injury. A player can be active but
        never enter the game (active is true and did_not_play is true). Null is not
        false. Practice reports and game designations can become available before
        game day; active status becomes available with game-day inactive
        announcements. Starter and did_not_play describe the completed game.
        Historical coverage varies by game and field; practice reports and active
        status may be unavailable even when starter and did_not_play are present.
      required: [id, season, week, season_type, game_id, player, team, practice_reports, injury, game_status, active, starter, did_not_play, updated_at]
      properties:
        id:
          type: integer
          description: Stable designation ID for the player and game.
        season:
          type: integer
          description: Season year of the game.
        week:
          type: integer
          description: Week number within the game's season phase.
        season_type:
          type: string
          description: Season phase of the game.
          enum: [preseason, regular, postseason]
        game_id:
          type: integer
          description: BALLDONTLIE game ID.
        player:
          description: Player profile, using a BALLDONTLIE player ID. The separate team field supplies the team for this game.
          $ref: "#/components/schemas/NFLFantasyPlayer"
        team:
          description: Team for this game, using a BALLDONTLIE team ID.
          $ref: "#/components/schemas/NFLTeam"
        practice_reports:
          type: array
          description: Daily practice participation for this game. An empty array means no daily reports are available; it does not establish that the player practiced or is healthy.
          items:
            type: object
            required: [date, status]
            properties:
              date:
                type: string
                format: date
                description: Date of the practice report (YYYY-MM-DD).
              status:
                type: string
                enum: [did_not_participate, limited, full]
                description: did_not_participate means no practice participation, limited means partial participation, and full means full participation. Missing practice does not mean the player will miss the game; full participation does not establish that the player is uninjured.
        injury:
          type: [string, "null"]
          description: Reported injury or reason for the player's designation. Null means no description is available, not that the player is uninjured.
        game_status:
          type: [string, "null"]
          enum: [questionable, doubtful, out, null]
          description: Reported availability designation for this game. questionable means participation is uncertain, doubtful means participation is unlikely, and out means the player will not play. Null means no game designation is available; it is not confirmation that the player will play.
        active:
          type: [boolean, "null"]
          description: Game-day active status. True means active, false means inactive, and null means not yet known or unavailable. Being active does not guarantee the player will enter the game.
        starter:
          type: [boolean, "null"]
          description: Actual starting status for the completed game. True means the player started, false means the player did not start, and null means not yet known or unavailable. This is not a projected starter.
        did_not_play:
          type: [boolean, "null"]
          description: Participation in the completed game. True means the player did not play, false means the player played, and null means not yet known or unavailable. This does not describe practice participation or establish inactive status.
        updated_at:
          type: string
          format: date-time
          description: Date and time the designation record was last updated, in ISO 8601 format. This is not necessarily the time an individual status changed.
    NFLFantasyTeam:
      type: object
      description: Team context for the fantasy record, using BALLDONTLIE IDs.
      required:
        - id
        - conference
        - division
        - location
        - name
        - full_name
        - abbreviation
      properties:
        id:
          type: integer
          minimum: 1
        conference:
          type: string
        division:
          type: string
        location:
          type: string
        name:
          type: string
        full_name:
          type: string
        abbreviation:
          type: string
    NFLFantasyPlayer:
      type: object
      description: Player identity using a BALLDONTLIE player ID. Team context is returned separately on the fantasy record.
      required:
        - id
        - first_name
        - last_name
        - position
        - position_abbreviation
        - height
        - weight
        - jersey_number
        - college
        - experience
        - age
      properties:
        id:
          type: integer
          minimum: 1
        first_name:
          type: string
        last_name:
          type: string
        position:
          type: string
        position_abbreviation:
          type: string
        height:
          type: string
          nullable: true
        weight:
          type: string
          nullable: true
        jersey_number:
          type: string
          nullable: true
        college:
          type: string
          nullable: true
        experience:
          type: string
          nullable: true
        age:
          type: integer
          nullable: true
    NFLFantasyGame:
      type: object
      description: NFL game context with BALLDONTLIE team and game IDs.
      required:
        - id
        - visitor_team
        - home_team
        - summary
        - venue
        - week
        - date
        - season
        - postseason
        - status
        - status_state
        - home_team_score
        - home_team_q1
        - home_team_q2
        - home_team_q3
        - home_team_q4
        - home_team_ot
        - visitor_team_score
        - visitor_team_q1
        - visitor_team_q2
        - visitor_team_q3
        - visitor_team_q4
        - visitor_team_ot
      properties:
        id:
          type: integer
          minimum: 1
        visitor_team:
          $ref: "#/components/schemas/NFLFantasyTeam"
        home_team:
          $ref: "#/components/schemas/NFLFantasyTeam"
        summary:
          type: string
          nullable: true
        venue:
          type: string
          nullable: true
        week:
          type: integer
          nullable: true
        date:
          type: string
          format: date-time
          nullable: true
        season:
          type: integer
        postseason:
          type: boolean
        status:
          type: string
          nullable: true
        status_state:
          $ref: "#/components/schemas/CompetitionStatusState"
        home_team_score:
          type: integer
          nullable: true
        home_team_q1:
          type: integer
          nullable: true
        home_team_q2:
          type: integer
          nullable: true
        home_team_q3:
          type: integer
          nullable: true
        home_team_q4:
          type: integer
          nullable: true
        home_team_ot:
          type: integer
          nullable: true
        visitor_team_score:
          type: integer
          nullable: true
        visitor_team_q1:
          type: integer
          nullable: true
        visitor_team_q2:
          type: integer
          nullable: true
        visitor_team_q3:
          type: integer
          nullable: true
        visitor_team_q4:
          type: integer
          nullable: true
        visitor_team_ot:
          type: integer
          nullable: true
    NFLFantasyScoringFormat:
      type: object
      description: A season-specific fantasy scoring definition. The rules object remains flexible so new scoring structures can be added without changing the envelope.
      required:
        - id
        - season
        - key
        - name
        - derived
        - rules
      properties:
        id:
          type: integer
          minimum: 1
        season:
          type: integer
        key:
          type: string
        name:
          type: string
        derived:
          type: boolean
          description: Whether this format was calculated from another available scoring definition.
        rules:
          type: object
          additionalProperties: true
          description: Flexible scoring-rule definition for this format and season. For each item, position_points[position] replaces points when present; it is not additive. is_reverse does not apply an extra sign change. schema_version identifies the rule structure, not a stats dictionary version.
    NFLFantasyStats:
      type: object
      description: Sparse stat-name to numeric-value map. Available stat names vary by position and data set. For weekly observations, omitted keys contribute zero to scoring but do not establish completeness. See the weekly stats endpoint for the scoring and availability contract.
      additionalProperties:
        type: number
    NFLFantasyEntity:
      type: object
      required:
        - id
        - season
        - week
        - date
        - player
        - team
        - game
        - position
        - collected_at
      properties:
        id:
          type: integer
          minimum: 1
          description: Fantasy record ID.
        season:
          type: integer
        week:
          type: integer
          nullable: true
          description: NFL week for weekly records; null for season records.
        date:
          type: string
          format: date
          nullable: true
          description: Exact historical snapshot date; null for the current snapshot.
        player:
          allOf:
            - $ref: "#/components/schemas/NFLFantasyPlayer"
          nullable: true
          description: Player identity, or null for a team defense/special-teams record.
        team:
          allOf:
            - $ref: "#/components/schemas/NFLFantasyTeam"
          nullable: true
          description: Team context for this fantasy snapshot.
        game:
          allOf:
            - $ref: "#/components/schemas/NFLFantasyGame"
          nullable: true
          description: Game context for weekly records; null for season records.
        position:
          type: string
          description: Fantasy position, such as QB, RB, WR, TE, K, or DST.
        collected_at:
          type: string
          format: date-time
          description: Collection time for this record, not the linked game's completion time.
    NFLFantasyProjectedPoints:
      type: object
      required:
        - id
        - scoring_format
        - total_points
        - points_per_game
      properties:
        id:
          type: integer
          minimum: 1
        scoring_format:
          $ref: "#/components/schemas/NFLFantasyScoringFormat"
        total_points:
          type: number
        points_per_game:
          type: number
          nullable: true
    NFLFantasyProjection:
      allOf:
        - $ref: "#/components/schemas/NFLFantasyEntity"
        - type: object
          required:
            - projected_games
            - stats
            - projections
          properties:
            projected_games:
              type: number
              nullable: true
              description: Projected games for a season record; 1 for a weekly projection.
            stats:
              allOf:
                - $ref: "#/components/schemas/NFLFantasyStats"
              nullable: true
            projections:
              type: array
              items:
                $ref: "#/components/schemas/NFLFantasyProjectedPoints"
    NFLFantasyWeeklyPoints:
      type: object
      required:
        - id
        - scoring_format
        - total_points
      properties:
        id:
          type: integer
          minimum: 1
        scoring_format:
          $ref: "#/components/schemas/NFLFantasyScoringFormat"
        total_points:
          type: number
    NFLFantasyWeeklyStat:
      allOf:
        - $ref: "#/components/schemas/NFLFantasyEntity"
        - type: object
          required:
            - week
            - game
            - stats
            - fantasy_points
          properties:
            week:
              type: integer
              minimum: 1
              maximum: 18
            game:
              $ref: "#/components/schemas/NFLFantasyGame"
            stats:
              $ref: "#/components/schemas/NFLFantasyStats"
            fantasy_points:
              type: array
              items:
                $ref: "#/components/schemas/NFLFantasyWeeklyPoints"
    NFLFantasyRank:
      type: object
      required:
        - id
        - type
        - overall_rank
        - position_rank
        - auction_value
      properties:
        id:
          type: integer
          minimum: 1
        type:
          type: string
        overall_rank:
          type: integer
          minimum: 1
        position_rank:
          type: number
          minimum: 1
          nullable: true
        auction_value:
          type: number
          nullable: true
    NFLFantasyRanking:
      allOf:
        - $ref: "#/components/schemas/NFLFantasyEntity"
        - type: object
          required:
            - rankings
          properties:
            rankings:
              type: array
              items:
                $ref: "#/components/schemas/NFLFantasyRank"
    NFLFantasyAdp:
      allOf:
        - $ref: "#/components/schemas/NFLFantasyEntity"
        - type: object
          required:
            - average_draft_position
            - average_draft_position_percent_change
            - average_auction_value
            - average_auction_value_change
            - percent_rostered
            - percent_started
            - percent_rostered_change
            - market_updated_at
          properties:
            average_draft_position:
              type: number
            average_draft_position_percent_change:
              type: number
              nullable: true
            average_auction_value:
              type: number
              nullable: true
            average_auction_value_change:
              type: number
              nullable: true
            percent_rostered:
              type: number
              nullable: true
            percent_started:
              type: number
              nullable: true
            percent_rostered_change:
              type: number
              nullable: true
            market_updated_at:
              type: string
              format: date-time
              nullable: true
    NFLFantasyScoringFormatListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/NFLFantasyScoringFormat"
        meta:
          $ref: "#/components/schemas/Pagination"
    NFLFantasyProjectionListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/NFLFantasyProjection"
        meta:
          $ref: "#/components/schemas/Pagination"
    NFLFantasyWeeklyStatListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/NFLFantasyWeeklyStat"
        meta:
          $ref: "#/components/schemas/Pagination"
    NFLFantasyRankingListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/NFLFantasyRanking"
        meta:
          $ref: "#/components/schemas/Pagination"
    NFLFantasyAdpListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/NFLFantasyAdp"
        meta:
          $ref: "#/components/schemas/Pagination"
    NFLFantasyValidationError:
      type: object
      required: [errors]
      properties:
        errors:
          type: array
          items:
            type: object
            required: [param, error]
            properties:
              param:
                type: string
              error:
                type: string
    NFLFantasyServerError:
      type: object
      required: [message]
      properties:
        message:
          type: string
          const: Internal Server Error
    CompetitionStatusState:
      type: string
      description: Normalized lifecycle state for cross-sport integrations. Classification may use the sport-specific lifecycle field and other available lifecycle context. `unknown` means the available lifecycle data cannot be safely classified.
      enum:
        - scheduled
        - in_progress
        - final
        - postponed
        - canceled
        - delayed
        - suspended
        - abandoned
        - unknown
    DfsSlate:
      type: object
      description: A provider-neutral DFS lineup pool and its lineup rules.
      required:
        - id
        - sport
        - provider
        - format
        - scope
        - style
        - salary_cap
        - event_count
        - starts_at
        - last_event_starts_at
        - status
        - allow_late_swap
        - active
        - updated_at
      properties:
        id:
          type: integer
          minimum: 1
        sport:
          type: string
        provider:
          type: string
        format:
          type: string
          enum: [salary_cap, tiers, snake_draft]
        scope:
          type: string
          enum: [single_event, multi_event]
        style:
          type: string
        salary_cap:
          type: integer
          minimum: 0
          nullable: true
        event_count:
          type: integer
          minimum: 1
        starts_at:
          type: string
          format: date-time
        last_event_starts_at:
          type: string
          format: date-time
        status:
          type: string
        allow_late_swap:
          type: boolean
          nullable: true
        active:
          type: boolean
        updated_at:
          type: string
          format: date-time
    DfsSlateEvent:
      type: object
      description: A real game included in a DFS slate.
      required:
        - id
        - game_id
        - name
        - starts_at
        - away_team_abbreviation
        - home_team_abbreviation
        - active
      properties:
        id:
          type: integer
          minimum: 1
        game_id:
          type: integer
          minimum: 1
          nullable: true
          description: BALLDONTLIE game ID when a reference is available.
        name:
          type: string
        starts_at:
          type: string
          format: date-time
        away_team_abbreviation:
          type: string
          nullable: true
        home_team_abbreviation:
          type: string
          nullable: true
        active:
          type: boolean
    DfsRosterSlot:
      type: object
      description: A lineup position required by a DFS slate.
      required:
        - id
        - name
        - description
        - instructions
        - required_count
        - display_order
        - active
      properties:
        id:
          type: integer
          minimum: 1
        name:
          type: string
        description:
          type: string
          nullable: true
        instructions:
          type: string
          nullable: true
        required_count:
          type: integer
          minimum: 1
        display_order:
          type: integer
          minimum: 0
        active:
          type: boolean
    DfsSlateDetail:
      allOf:
        - $ref: "#/components/schemas/DfsSlate"
        - type: object
          required:
            - events
            - roster_slots
          properties:
            events:
              type: array
              items:
                $ref: "#/components/schemas/DfsSlateEvent"
            roster_slots:
              type: array
              items:
                $ref: "#/components/schemas/DfsRosterSlot"
    DfsDraftable:
      type: object
      description: A player or team that can be selected for a slate roster slot.
      required:
        - id
        - slate_id
        - slate_event_id
        - roster_slot_id
        - game_id
        - player_id
        - team_id
        - entity_type
        - first_name
        - last_name
        - display_name
        - short_name
        - position
        - salary
        - status
        - is_swappable
        - is_disabled
        - team_abbreviation
        - active
        - updated_at
      properties:
        id:
          type: integer
          minimum: 1
        slate_id:
          type: integer
          minimum: 1
        slate_event_id:
          type: integer
          minimum: 1
        roster_slot_id:
          type: integer
          minimum: 1
        game_id:
          type: integer
          minimum: 1
          nullable: true
          description: BALLDONTLIE game ID when a reference is available.
        player_id:
          type: integer
          minimum: 1
          nullable: true
          description: BALLDONTLIE player ID when a reference is available.
        team_id:
          type: integer
          minimum: 1
          nullable: true
          description: BALLDONTLIE team ID when a reference is available.
        entity_type:
          type: string
          enum: [player, team]
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        display_name:
          type: string
        short_name:
          type: string
          nullable: true
        position:
          type: string
          nullable: true
        salary:
          type: integer
          minimum: 0
          nullable: true
        status:
          type: string
          nullable: true
        is_swappable:
          type: boolean
          nullable: true
        is_disabled:
          type: boolean
          nullable: true
        team_abbreviation:
          type: string
          nullable: true
        active:
          type: boolean
        updated_at:
          type: string
          format: date-time
    DfsPagination:
      type: object
      required:
        - per_page
      properties:
        prev_cursor:
          type: integer
          minimum: 1
          description: Present when the request supplied a cursor.
        next_cursor:
          type: integer
          minimum: 1
          description: Present when another page may be available.
        per_page:
          type: integer
          minimum: 1
          maximum: 100
    DfsSlateListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/DfsSlate"
        meta:
          $ref: "#/components/schemas/DfsPagination"
    DfsSlateDetailResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/DfsSlateDetail"
    DfsDraftableListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/DfsDraftable"
        meta:
          $ref: "#/components/schemas/DfsPagination"
    DfsValidationError:
      type: object
      required: [errors]
      properties:
        errors:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - param
              - error
            properties:
              param:
                type: string
              error:
                type: string
    DfsServerError:
      type: object
      required: [message]
      properties:
        message:
          type: string
          const: Internal Server Error
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
    NFLAdvancedPassingStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        season:
          type: integer
        week:
          type: integer
        postseason:
          type: boolean
        aggressiveness:
          type: number
        attempts:
          type: integer
        avg_air_distance:
          type: number
        avg_air_yards_differential:
          type: number
        avg_air_yards_to_sticks:
          type: number
        avg_completed_air_yards:
          type: number
        avg_intended_air_yards:
          type: number
        avg_time_to_throw:
          type: number
        completion_percentage:
          type: number
        completion_percentage_above_expectation:
          type: number
        completions:
          type: integer
        expected_completion_percentage:
          type: number
        games_played:
          type: number
        interceptions:
          type: number
        max_air_distance:
          type: number
        max_completed_air_distance:
          type: number
        pass_touchdowns:
          type: number
        pass_yards:
          type: number
        passer_rating:
          type: number
    NFLAdvancedReceivingStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        season:
          type: integer
        week:
          type: integer
        postseason:
          type: boolean
        avg_cushion:
          type: number
        avg_expected_yac:
          type: number
        avg_intended_air_yards:
          type: number
        avg_separation:
          type: number
        avg_yac:
          type: number
        avg_yac_above_expectation:
          type: number
        catch_percentage:
          type: number
        percent_share_of_intended_air_yards:
          type: number
        rec_touchdowns:
          type: integer
        receptions:
          type: integer
        targets:
          type: integer
        yards:
          type: integer
    NFLAdvancedRushingStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        season:
          type: integer
        week:
          type: integer
        postseason:
          type: boolean
        avg_time_to_los:
          type: number
        expected_rush_yards:
          type: number
        rush_attempts:
          type: integer
        rush_pct_over_expected:
          type: number
        rush_touchdowns:
          type: integer
        rush_yards:
          type: integer
        rush_yards_over_expected:
          type: number
        rush_yards_over_expected_per_att:
          type: number
        efficiency:
          type: number
        percent_attempts_gte_eight_defenders:
          type: number
        avg_rush_yards:
          type: number
    NFLBettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        game_id:
          type: integer
          description: Game ID
        vendor:
          type: string
          description: Sportsbook vendor name
        spread_home_value:
          type: string
          nullable: true
          description: Home team spread value
        spread_home_odds:
          type: integer
          nullable: true
          description: Home team spread odds
        spread_away_value:
          type: string
          nullable: true
          description: Away team spread value
        spread_away_odds:
          type: integer
          nullable: true
          description: Away team spread odds
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        total_value:
          type: string
          nullable: true
          description: Total points line value
        total_over_odds:
          type: integer
          nullable: true
          description: Over total odds
        total_under_odds:
          type: integer
          nullable: true
          description: Under total odds
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
    NFLOpeningPlayerProp:
      type: object
      description: NFL player prop betting data
      required:
        - id
        - game_id
        - player_id
        - vendor
        - prop_type
        - line_value
        - market
        - updated_at
      properties:
        id:
          type: integer
          format: int64
          description: Unique player prop ID
        game_id:
          type: integer
          description: NFL game ID
        player_id:
          type: integer
          description: NFL player ID
        vendor:
          type: string
          description: Sportsbook vendor name
          enum:
            - draftkings
            - fanduel
            - caesars
            - betmgm
            - fanatics
            - betrivers
        prop_type:
          type: string
          description: Type of player prop. Values are open-ended, such as rushing_yards, anytime_td, or passing_tds_1q. Period suffixes include _1h and _2h for halves and _1q through _4q for quarters.
          example: passing_tds_1q
        line_value:
          type: string
          description: The line value for the prop
          example: "275.5"
        market:
          oneOf:
            - $ref: "#/components/schemas/NFLPlayerPropMarketOverUnder"
            - $ref: "#/components/schemas/NFLPlayerPropMarketMilestone"
          description: Market information - either over_under or milestone type
        opened_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this prop was last updated
    NFLOpeningBettingOdd:
      type: object
      properties:
        id:
          type: integer
          description: Betting odd ID
        game_id:
          type: integer
          description: Game ID
        vendor:
          type: string
          description: Sportsbook vendor name
        spread_home_value:
          type: string
          nullable: true
          description: Home team spread value
        spread_home_odds:
          type: integer
          nullable: true
          description: Home team spread odds
        spread_away_value:
          type: string
          nullable: true
          description: Away team spread value
        spread_away_odds:
          type: integer
          nullable: true
          description: Away team spread odds
        moneyline_home_odds:
          type: integer
          nullable: true
          description: Home team moneyline odds
        moneyline_away_odds:
          type: integer
          nullable: true
          description: Away team moneyline odds
        total_value:
          type: string
          nullable: true
          description: Total points line value
        total_over_odds:
          type: integer
          nullable: true
          description: Over total odds
        total_under_odds:
          type: integer
          nullable: true
          description: Under total odds
        opened_at:
          type: string
          format: date-time
          description: Opening odds timestamp
    NFLGame:
      type: object
      required:
        - status_state
      properties:
        id:
          type: integer
        visitor_team:
          $ref: "#/components/schemas/NFLTeam"
        home_team:
          $ref: "#/components/schemas/NFLTeam"
        summary:
          type: string
        venue:
          type: string
        week:
          type: integer
        date:
          type: string
          format: date-time
        season:
          type: integer
        postseason:
          type: boolean
        status:
          type: string
        status_state:
          allOf:
            - $ref: "#/components/schemas/CompetitionStatusState"
          description: Normalized lifecycle state derived from `status` and other available lifecycle context; `status` remains unchanged.
        home_team_score:
          type: integer
        visitor_team_score:
          type: integer
        home_team_q1:
          type: integer
        home_team_q2:
          type: integer
        home_team_q3:
          type: integer
        home_team_q4:
          type: integer
        home_team_ot:
          type: integer
        visitor_team_q1:
          type: integer
        visitor_team_q2:
          type: integer
        visitor_team_q3:
          type: integer
        visitor_team_q4:
          type: integer
        visitor_team_ot:
          type: integer
    NFLPlayParticipant:
      type: object
      required:
        - player_id
        - type
      properties:
        player_id:
          type: integer
          description: BallDontLie player ID associated with the participant.
        type:
          type: string
          nullable: true
          description: Participant role in the play.
    NFLPlay:
      type: object
      description: Play-by-play data for NFL games
      properties:
        id:
          type: string
        game:
          $ref: "#/components/schemas/NFLGame"
        type_slug:
          type: string
          nullable: true
        type_abbreviation:
          type: string
          nullable: true
        type_text:
          type: string
          nullable: true
        text:
          type: string
          description: Full play description
        short_text:
          type: string
          nullable: true
        away_score:
          type: integer
        home_score:
          type: integer
        scoring_play:
          type: boolean
        period:
          type: integer
        clock_display:
          type: string
          nullable: true
        team:
          allOf:
            - $ref: "#/components/schemas/NFLTeam"
          nullable: true
        start_yard_line:
          type: integer
          nullable: true
        start_down:
          type: integer
          nullable: true
        start_distance:
          type: integer
          nullable: true
        end_yard_line:
          type: integer
          nullable: true
        end_down:
          type: integer
          nullable: true
        end_distance:
          type: integer
          nullable: true
        stat_yardage:
          type: integer
          nullable: true
        participants:
          type: array
          nullable: true
          description: Players associated with the play, using BallDontLie player IDs.
          items:
            $ref: "#/components/schemas/NFLPlayParticipant"
        home_win_probability:
          type: number
          nullable: true
        wallclock:
          type: string
          format: date-time
          nullable: true
          description: Real-time timestamp of the play
    NFLPlayer:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        position:
          type: string
        position_abbreviation:
          type: string
        height:
          type: string
        weight:
          type: string
        jersey_number:
          type: string
        college:
          type: string
        experience:
          type: string
        age:
          type: integer
        team:
          $ref: "#/components/schemas/NFLTeam"
    NFLPlayerInjury:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        status:
          type: string
        comment:
          type: string
        date:
          type: string
          format: date-time
    NFLPlayerProp:
      type: object
      description: NFL player prop betting data
      required:
        - id
        - game_id
        - player_id
        - vendor
        - prop_type
        - line_value
        - market
        - updated_at
      properties:
        id:
          type: integer
          description: Unique player prop ID
        game_id:
          type: integer
          description: NFL game ID
        player_id:
          type: integer
          description: NFL player ID
        vendor:
          type: string
          description: Sportsbook vendor name
          enum:
            - draftkings
            - fanduel
            - caesars
            - betmgm
            - fanatics
            - betrivers
        prop_type:
          type: string
          description: Type of player prop. Values are open-ended, such as rushing_yards, anytime_td, or passing_tds_1q. Period suffixes include _1h and _2h for halves and _1q through _4q for quarters.
          example: passing_tds_1q
        line_value:
          type: string
          description: The line value for the prop
          example: "275.5"
        market:
          oneOf:
            - $ref: "#/components/schemas/NFLPlayerPropMarketOverUnder"
            - $ref: "#/components/schemas/NFLPlayerPropMarketMilestone"
          description: Market information - either over_under or milestone type
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this prop was last updated
    NFLPlayerPropMarketMilestone:
      type: object
      description: Milestone market type for NFL player props
      required:
        - type
        - odds
      properties:
        type:
          type: string
          enum:
            - milestone
          description: Market type identifier
        odds:
          type: integer
          description: American odds for milestone bet
    NFLPlayerPropMarketOverUnder:
      type: object
      description: Over/under market type for NFL player props
      required:
        - type
        - over_odds
        - under_odds
      properties:
        type:
          type: string
          enum:
            - over_under
          description: Market type identifier
        over_odds:
          type: integer
          description: American odds for over bet
        under_odds:
          type: integer
          description: American odds for under bet
    NFLRosterEntry:
      type: object
      description: NFL team roster entry with depth chart information
      properties:
        player:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/NFLRosterPlayer"
        position:
          type: string
          description: Position on the depth chart
        depth:
          type: integer
          description: Depth chart position (1 = starter, 2 = backup, etc.)
        player_name:
          type: string
          description: Player name
        injury_status:
          type: string
          nullable: true
          description: Current injury status if applicable
    NFLRosterPlayer:
      type: object
      description: NFL player object without team reference (used in roster responses)
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        position:
          type: string
        position_abbreviation:
          type: string
        height:
          type: string
          nullable: true
        weight:
          type: string
          nullable: true
        jersey_number:
          type: string
          nullable: true
        college:
          type: string
          nullable: true
        experience:
          type: string
          nullable: true
        age:
          type: integer
          nullable: true
    NFLSeasonStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        games_played:
          type: integer
        total_two_point_convs:
          type: number
          nullable: true
          description: Successful two-point conversions scored by rushing or receiving; excludes passes. Null when unavailable.
        total_points:
          type: number
          nullable: true
          description: Points personally scored, including touchdowns, kicks and conversions. Passing touchdowns do not award points to the passer. Null when unavailable.
        total_points_per_game:
          type: number
          nullable: true
          description: Points personally scored per game. Null when unavailable.
        season:
          type: integer
        postseason:
          type: boolean
        passing_completions:
          type: integer
        passing_attempts:
          type: integer
        passing_yards:
          type: integer
        passing_yards_per_game:
          type: number
        passing_touchdowns:
          type: integer
        passing_interceptions:
          type: integer
        passing_completion_pct:
          type: number
        passing_first_downs:
          type: integer
        passing_first_down_pct:
          type: number
        passing_20_plus_yards:
          type: integer
        passing_40_plus_yards:
          type: integer
        passing_long:
          type: integer
        passing_sacks:
          type: integer
        passing_sack_yards:
          type: integer
        qb_rating:
          type: number
        rushing_attempts:
          type: integer
        rushing_yards:
          type: integer
        rushing_yards_per_game:
          type: number
        rushing_average:
          type: number
        rushing_touchdowns:
          type: integer
        rushing_first_downs:
          type: integer
        rushing_first_down_pct:
          type: number
        rushing_20_plus_yards:
          type: integer
        rushing_40_plus_yards:
          type: integer
        rushing_long:
          type: integer
        rushing_fumbles:
          type: integer
          nullable: true
          description: Fumbles on rushing plays only, not all player fumbles.
        rushing_fumbles_lost:
          type: integer
          nullable: true
          description: Fumbles lost on rushing plays only. Not comparable to all-play fumbles_lost on the game stats endpoint.
        receptions:
          type: integer
        receiving_yards:
          type: integer
        receiving_yards_per_game:
          type: number
        receiving_average:
          type: number
        receiving_touchdowns:
          type: integer
        receiving_targets:
          type: integer
        receiving_first_downs:
          type: integer
        receiving_first_down_pct:
          type: number
        receiving_20_plus_yards:
          type: integer
        receiving_40_plus_yards:
          type: integer
        receiving_long:
          type: integer
        receiving_fumbles:
          type: integer
          nullable: true
          description: Fumbles on receiving plays only, not all player fumbles.
        receiving_fumbles_lost:
          type: integer
          nullable: true
          description: Fumbles lost on receiving plays only. Not comparable to all-play fumbles_lost on the game stats endpoint.
        fumbles_forced:
          type: integer
        fumbles_recovered:
          type: integer
        fumbles_touchdowns:
          type: integer
          minimum: 0
          nullable: true
          description: Fumble recovery touchdowns. Null when unavailable or inconsistent with scoring totals.
    NFLStandings:
      type: object
      properties:
        team:
          $ref: "#/components/schemas/NFLTeam"
        win_streak:
          type: integer
        points_for:
          type: integer
        points_against:
          type: integer
        playoff_seed:
          type: integer
        point_differential:
          type: integer
        overall_record:
          type: string
        conference_record:
          type: string
        division_record:
          type: string
        wins:
          type: integer
        losses:
          type: integer
        ties:
          type: integer
        home_record:
          type: string
        road_record:
          type: string
        season:
          type: integer
    NFLStats:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/NFLPlayer"
        team:
          $ref: "#/components/schemas/NFLTeam"
        game:
          $ref: "#/components/schemas/NFLGame"
        passing_completions:
          type: integer
        passing_attempts:
          type: integer
        passing_yards:
          type: integer
        yards_per_pass_attempt:
          type: integer
        passing_touchdowns:
          type: integer
        passing_interceptions:
          type: integer
        sacks:
          type: integer
        sacks_loss:
          type: integer
        qbr:
          type: integer
        qb_rating:
          type: integer
        rushing_attempts:
          type: integer
        rushing_yards:
          type: integer
        yards_per_rush_attempt:
          type: integer
        rushing_touchdowns:
          type: integer
        long_rushing:
          type: integer
        receptions:
          type: integer
        receiving_yards:
          type: integer
        yards_per_reception:
          type: integer
        receiving_touchdowns:
          type: integer
        long_reception:
          type: integer
        receiving_targets:
          type: integer
        fumbles:
          type: integer
        fumbles_lost:
          type: integer
        fumbles_recovered:
          type: integer
        total_tackles:
          type: integer
        defensive_sacks:
          type: integer
        solo_tackles:
          type: integer
        tackles_for_loss:
          type: integer
        passes_defended:
          type: integer
        qb_hits:
          type: integer
        fumbles_touchdowns:
          type: integer
        defensive_interceptions:
          type: integer
        interception_yards:
          type: integer
        interception_touchdowns:
          type: integer
        kick_returns:
          type: integer
        kick_return_yards:
          type: integer
        yards_per_kick_return:
          type: integer
        long_kick_return:
          type: integer
        kick_return_touchdowns:
          type: integer
        punt_returns:
          type: integer
        punt_return_yards:
          type: integer
        yards_per_punt_return:
          type: integer
        long_punt_return:
          type: integer
        punt_return_touchdowns:
          type: integer
        field_goal_attempts:
          type: integer
        field_goals_made:
          type: integer
        field_goal_pct:
          type: integer
        long_field_goal_made:
          type: integer
        extra_points_made:
          type: integer
        total_points:
          type: integer
          nullable: true
          description: Kicking points from field goals and extra-point kicks; not total scoring for every player. Null when unavailable.
        punts:
          type: integer
        punt_yards:
          type: integer
        gross_avg_punt_yards:
          type: integer
        touchbacks:
          type: integer
        punts_inside_20:
          type: integer
        long_punt:
          type: integer
    NFLTeam:
      type: object
      properties:
        id:
          type: integer
        conference:
          type: string
          enum:
            - AFC
            - NFC
        division:
          type: string
          enum:
            - NORTH
            - SOUTH
            - EAST
            - WEST
        location:
          type: string
        name:
          type: string
        full_name:
          type: string
        abbreviation:
          type: string
    NFLTeamSeasonStat:
      type: object
      description: Comprehensive team season statistics including offense, defense, special teams, and opponent stats
      properties:
        team:
          $ref: "#/components/schemas/NFLTeam"
        season:
          type: integer
        season_type:
          type: integer
          description: Season type (1 = preseason, 2 = regular season, 3 = postseason). Preseason data is not currently available for this resource.
        games_played:
          type: number
          nullable: true
        total_offensive_yards:
          type: number
          nullable: true
          description: Total offensive yards (corrected from passing_total_yards)
        total_offensive_yards_per_game:
          type: number
          nullable: true
        total_points:
          type: number
          nullable: true
        total_points_per_game:
          type: number
          nullable: true
        passing_completions:
          type: number
          nullable: true
        passing_yards:
          type: number
          nullable: true
        passing_yards_per_game:
          type: number
          nullable: true
        passing_attempts:
          type: number
          nullable: true
        passing_touchdowns:
          type: number
          nullable: true
        passing_interceptions:
          type: number
          nullable: true
        rushing_yards:
          type: number
          nullable: true
        rushing_yards_per_game:
          type: number
          nullable: true
        rushing_attempts:
          type: number
          nullable: true
        rushing_touchdowns:
          type: number
          nullable: true
        receiving_receptions:
          type: number
          nullable: true
        receiving_yards:
          type: number
          nullable: true
        receiving_touchdowns:
          type: number
          nullable: true
    NFLTeamStat:
      type: object
      description: Team game statistics
      properties:
        game:
          $ref: "#/components/schemas/NFLGame"
        team:
          $ref: "#/components/schemas/NFLTeam"
        home_away:
          type: string
          description: Whether team is home or away
        first_downs:
          type: integer
          nullable: true
        first_downs_passing:
          type: integer
          nullable: true
        first_downs_rushing:
          type: integer
          nullable: true
        third_down_efficiency:
          type: string
          nullable: true
        third_down_conversions:
          type: integer
          nullable: true
        third_down_attempts:
          type: integer
          nullable: true
        total_yards:
          type: integer
          nullable: true
        yards_per_play:
          type: integer
          nullable: true
        net_passing_yards:
          type: integer
          nullable: true
        passing_completions:
          type: integer
          nullable: true
        passing_attempts:
          type: integer
          nullable: true
        sacks:
          type: integer
          nullable: true
        rushing_yards:
          type: integer
          nullable: true
        rushing_attempts:
          type: integer
          nullable: true
        turnovers:
          type: integer
          nullable: true
        fumbles_lost:
          type: integer
          nullable: true
        interceptions_thrown:
          type: integer
          nullable: true
        penalties:
          type: integer
          nullable: true
        penalty_yards:
          type: integer
          nullable: true
        possession_time:
          type: string
          nullable: true
    Pagination:
      type: object
      properties:
        next_cursor:
          type: integer
          description: Cursor for the next page of results
        prev_cursor:
          type: integer
          nullable: true
          description: Cursor for the previous page of results
        per_page:
          type: integer
          description: Number of results per page
    PlayerPropMeta:
      type: object
      description: Metadata for player prop responses (no pagination - all results returned in single response)
      properties:
        per_page:
          type: integer
          description: Total number of results returned
  parameters:
    NFLFantasySeasonParam:
      name: season
      in: query
      required: true
      description: NFL season year.
      schema:
        type: integer
        minimum: 1
        maximum: 2147483647
    NFLFantasyDateParam:
      name: date
      in: query
      required: false
      description: Return the exact snapshot collected on this date (YYYY-MM-DD). Omit for the current snapshot.
      schema:
        type: string
        format: date
    NFLFantasyPlayerIdsParam:
      name: player_ids[]
      in: query
      required: false
      description: Filter by BALLDONTLIE player IDs. Use bracket notation for each value.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: integer
          minimum: 1
          maximum: 2147483647
    NFLFantasyTeamIdsParam:
      name: team_ids[]
      in: query
      required: false
      description: Filter by BALLDONTLIE team IDs. Use bracket notation for each value.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: integer
          minimum: 1
          maximum: 2147483647
    NFLFantasyPositionsParam:
      name: positions[]
      in: query
      required: false
      description: Filter by fantasy positions, such as QB, RB, WR, TE, K, or DST. Values are normalized to uppercase.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    NFLFantasyScoringFormatFilterParam:
      name: scoring_format
      in: query
      required: false
      description: Filter definitions by scoring-format key.
      schema:
        type: string
    NFLFantasyOrderingScoringFormatParam:
      name: scoring_format
      in: query
      required: false
      description: Scoring-format key used to select and order records. Defaults to ppr. Each record still includes all available scoring variants.
      schema:
        type: string
        default: ppr
    NFLFantasyRankingTypeParam:
      name: ranking_type
      in: query
      required: false
      description: Ranking type used to select and order records. Defaults to ppr.
      schema:
        type: string
        default: ppr
    NFLFantasyProjectionWeekParam:
      name: week
      in: query
      required: false
      description: NFL week from 1 to 18. When supplied, projections are weekly and include game context; omit it for season projections.
      schema:
        type: integer
        minimum: 1
        maximum: 18
    NFLFantasyWeeklyStatsWeekParam:
      name: week
      in: query
      required: true
      description: NFL regular-season week from 1 to 18. Postseason is not supported.
      schema:
        type: integer
        minimum: 1
        maximum: 18
    NFLFantasyCursorParam:
      name: cursor
      in: query
      required: false
      description: Cursor returned in the previous response.
      schema:
        type: integer
        minimum: 1
        maximum: 2147483647
    NFLFantasyPerPageParam:
      name: per_page
      in: query
      required: false
      description: Maximum records to return.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    DfsSlateIdsParam:
      name: slate_ids[]
      in: query
      required: false
      description: Filter by DFS slate IDs.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: integer
          minimum: 1
          maximum: 9007199254740991
    DfsProvidersParam:
      name: providers[]
      in: query
      required: false
      description: Filter by provider identifier, such as draftkings.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
          minLength: 1
          maxLength: 100
    DfsFormatsParam:
      name: formats[]
      in: query
      required: false
      description: Filter by lineup format.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
          enum: [salary_cap, tiers, snake_draft]
    DfsScopesParam:
      name: scopes[]
      in: query
      required: false
      description: Filter by single-game or multi-game scope.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
          enum: [single_event, multi_event]
    DfsActiveParam:
      name: active
      in: query
      required: false
      description: Return current records by default; set false for inactive history.
      schema:
        type: boolean
        default: true
    DfsStartDateParam:
      name: start_date
      in: query
      required: false
      description: Include slates whose event window overlaps this date or later.
      schema:
        type: string
        format: date
    DfsEndDateParam:
      name: end_date
      in: query
      required: false
      description: Include slates whose event window overlaps this date or earlier.
      schema:
        type: string
        format: date
    DfsCursorParam:
      name: cursor
      in: query
      required: false
      description: Cursor returned by the previous page.
      schema:
        type: integer
        minimum: 1
        maximum: 9007199254740991
    DfsPerPageParam:
      name: per_page
      in: query
      required: false
      description: Maximum records to return.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    DfsGameIdsParam:
      name: game_ids[]
      in: query
      required: false
      description: Filter by BALLDONTLIE game IDs.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: integer
          minimum: 1
          maximum: 2147483647
    DfsPlayerIdsParam:
      name: player_ids[]
      in: query
      required: false
      description: Filter by BALLDONTLIE player IDs.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: integer
          minimum: 1
          maximum: 2147483647
    DfsTeamIdsParam:
      name: team_ids[]
      in: query
      required: false
      description: Filter by BALLDONTLIE team IDs.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: integer
          minimum: 1
          maximum: 2147483647
    DfsPositionsParam:
      name: positions[]
      in: query
      required: false
      description: Filter by provider roster position.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
          minLength: 1
          maxLength: 100
    CursorParam:
      name: cursor
      in: query
      required: false
      schema:
        type: integer
      description: The cursor for pagination
    DatesParam:
      name: dates[]
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          format: date
      style: form
      explode: true
      description: Filter by dates (YYYY-MM-DD)
    PerPageParam:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        maximum: 100
        default: 25
      description: Number of results per page
    PlayerIdsParam:
      name: player_ids[]
      in: query
      required: false
      schema:
        type: array
        items:
          type: integer
      style: form
      explode: true
      description: Filter by player IDs
    SeasonParam:
      name: season
      in: query
      required: true
      schema:
        type: integer
      description: The season year
    GameSeasonTypesParam:
      name: season_types[]
      in: query
      required: false
      schema:
        type: array
        items:
          type: integer
          enum:
            - 1
            - 2
            - 3
        default:
          - 2
          - 3
      style: form
      explode: true
      description: "Filter by season types: 1 = preseason, 2 = regular season, 3 = postseason. Defaults to regular season and postseason (2 and 3)."
    SeasonTypeParam:
      name: season_types[]
      in: query
      required: false
      schema:
        type: array
        items:
          type: integer
          enum:
            - 1
            - 2
            - 3
        default: [2]
      style: form
      explode: true
      description: "Filter by season types: 1 = preseason, 2 = regular season, 3 = postseason. Defaults to [2]."
    StatSeasonTypeParam:
      name: season_types[]
      in: query
      required: false
      schema:
        type: array
        items:
          type: integer
          enum:
            - 1
            - 2
            - 3
      style: form
      explode: true
      description: "Filter by season types: 1 = preseason, 2 = regular season, 3 = postseason. Omit to return all season types."
    SeasonTypeWithoutPreseasonParam:
      name: season_types[]
      in: query
      required: false
      schema:
        type: array
        items:
          type: integer
          enum:
            - 1
            - 2
            - 3
        default: [2]
      style: form
      explode: true
      description: "Filter by season types: 1 = preseason, 2 = regular season, 3 = postseason. Defaults to [2]. Preseason data is not available for this endpoint."
    TeamIdsParam:
      name: team_ids[]
      in: query
      required: false
      schema:
        type: array
        items:
          type: integer
      style: form
      explode: true
      description: Filter by team IDs
  responses:
    NFLFantasyBadRequest:
      description: Invalid fantasy request parameters.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NFLFantasyValidationError"
    NFLFantasyUnauthorized:
      description: Missing API key or NFL GOAT access.
      content:
        text/plain:
          schema:
            type: string
            const: Unauthorized
    NFLFantasyRateLimited:
      description: Request limit exceeded.
      content:
        text/html:
          schema:
            type: string
            const: Too many requests, please try again later.
    NFLFantasyServerFailure:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NFLFantasyServerError"
    DfsBadRequest:
      description: Invalid DFS request parameters.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DfsValidationError"
    DfsUnauthorized:
      description: Missing API key or GOAT access.
      content:
        text/plain:
          schema:
            type: string
            const: Unauthorized
    DfsNotFound:
      description: DFS slate not found.
      content:
        text/plain:
          schema:
            type: string
            const: Not Found
    DfsRateLimited:
      description: Request limit exceeded.
      content:
        text/html:
          schema:
            type: string
            const: Too many requests, please try again later.
    DfsServerFailure:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DfsServerError"
    UnauthorizedError:
      description: Unauthorized - Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    BadRequestError:
      description: Bad Request - Invalid parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimitError:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
security:
  - ApiKeyAuth: []
paths:
  /nfl/v1/player_designations:
    get:
      summary: Get NFL player designations
      description: Requires GOAT access. Returns one row per player and game in the selected week. Supply season and week together; season_types defaults to [2] for an explicit week. When all three are omitted, the next unfinished game determines the current season, phase, and week, excluding canceled and postponed games. season_types requires season and week. Teams on bye have no rows. Historical coverage varies by game and field.
      tags: [NFL]
      parameters:
        - name: season
          in: query
          schema:
            type: integer
          description: Season year; must be supplied with week.
        - name: week
          in: query
          schema:
            type: integer
          description: Week number within the selected season phase; must be supplied with season.
        - name: season_types[]
          in: query
          schema:
            type: array
            items:
              type: integer
              enum: [1, 2, 3]
          style: form
          explode: true
          description: "Season types: 1 = preseason, 2 = regular season, 3 = postseason; requires season and week. Defaults to [2] for an explicit season and week."
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/CursorParam"
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        "200":
          description: Player designations for the requested week
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLPlayerDesignation"
                  meta:
                    $ref: "#/components/schemas/Pagination"
              example:
                {
                  "data": [
                    {
                      "id": 22474,
                      "season": 2025,
                      "week": 5,
                      "season_type": "postseason",
                      "game_id": 1341307,
                      "player": {
                        "id": 279866,
                        "first_name": "Drake",
                        "last_name": "Maye",
                        "position": "Quarterback",
                        "position_abbreviation": "QB",
                        "height": "6' 4\"",
                        "weight": "225 lbs",
                        "jersey_number": "10",
                        "college": "North Carolina",
                        "experience": "3rd Season",
                        "age": 24
                      },
                      "team": {
                        "id": 1,
                        "conference": "AFC",
                        "division": "EAST",
                        "location": "New England",
                        "name": "Patriots",
                        "full_name": "New England Patriots",
                        "abbreviation": "NE"
                      },
                      "practice_reports": [],
                      "injury": null,
                      "game_status": null,
                      "active": null,
                      "starter": true,
                      "did_not_play": false,
                      "updated_at": "2026-09-02T01:29:54.627Z"
                    }
                  ],
                  "meta": {
                    "per_page": 100
                  }
                }
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/teams:
    get:
      summary: Get NFL teams
      tags:
        - NFL
      parameters:
        - name: division
          in: query
          required: false
          schema:
            type: string
          description: Filter by division
        - name: conference
          in: query
          required: false
          schema:
            type: string
          description: Filter by conference
      responses:
        "200":
          description: List of NFL teams
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLTeam"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/teams/{id}:
    get:
      summary: Get specific NFL team
      tags:
        - NFL
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Team ID
      responses:
        "200":
          description: Team details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NFLTeam"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/teams/{id}/roster:
    get:
      summary: Get NFL team roster
      description: |
        Retrieve the current roster and depth chart for a specific NFL team.
        Note: Roster data is only available starting with the 2025 season.
      tags:
        - NFL
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Team ID
        - name: season
          in: query
          required: false
          schema:
            type: integer
          description: Season year (defaults to the most recent available season). Data only available for 2025 season and later.
      responses:
        "200":
          description: Team roster with depth chart information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLRosterEntry"
              example:
                data:
                  - player:
                      id: 2153
                      first_name: Connor
                      last_name: McGovern
                      position: Center
                      position_abbreviation: C
                      height: 6' 5"
                      weight: 318 lbs
                      jersey_number: "66"
                      college: Penn State
                      experience: 7th Season
                      age: 28
                    position: C
                    depth: 1
                    player_name: Connor McGovern
                    injury_status: null
                  - player:
                      id: 279668
                      first_name: Alec
                      last_name: Anderson
                      position: Offensive Tackle
                      position_abbreviation: OT
                      height: 6' 5"
                      weight: 305 lbs
                      jersey_number: "70"
                      college: UCLA
                      experience: 3rd Season
                      age: 26
                    position: C
                    depth: 2
                    player_name: Alec Anderson
                    injury_status: null
                  - player:
                      id: 279664
                      first_name: Sedrick
                      last_name: Van Pran-Granger
                      position: Center
                      position_abbreviation: C
                      height: 6' 4"
                      weight: 310 lbs
                      jersey_number: "62"
                      college: Georgia
                      experience: 2nd Season
                      age: 24
                    position: C
                    depth: 3
                    player_name: Sedrick Van Pran-Granger
                    injury_status: null
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          description: Forbidden - GOAT tier subscription required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/players:
    get:
      summary: Get NFL players
      tags:
        - NFL
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Search by player name
        - name: first_name
          in: query
          required: false
          schema:
            type: string
          description: Filter by first name
        - name: last_name
          in: query
          required: false
          schema:
            type: string
          description: Filter by last name
      responses:
        "200":
          description: List of NFL players
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLPlayer"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/players/{id}:
    get:
      summary: Get specific NFL player
      tags:
        - NFL
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Player ID
      responses:
        "200":
          description: Player details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NFLPlayer"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/players/active:
    get:
      summary: Get active NFL players
      tags:
        - NFL
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Search by player name
        - name: first_name
          in: query
          required: false
          schema:
            type: string
          description: Filter by first name
        - name: last_name
          in: query
          required: false
          schema:
            type: string
          description: Filter by last name
      responses:
        "200":
          description: List of active NFL players
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLPlayer"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/games:
    get:
      summary: Get NFL games
      tags:
        - NFL
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/DatesParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - name: seasons[]
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by seasons
        - $ref: "#/components/parameters/GameSeasonTypesParam"
        - name: weeks[]
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by weeks
      responses:
        "200":
          description: List of NFL games
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLGame"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/games/{id}:
    get:
      summary: Get specific NFL game
      tags:
        - NFL
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Game ID
      responses:
        "200":
          description: Game details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NFLGame"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/stats:
    get:
      summary: Get NFL stats
      tags:
        - NFL
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
        - name: game_ids[]
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by game IDs
        - name: seasons[]
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by seasons
        - $ref: "#/components/parameters/StatSeasonTypeParam"
      responses:
        "200":
          description: List of NFL stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLStats"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/standings:
    get:
      summary: Get NFL team standings
      tags:
        - NFL
      parameters:
        - $ref: "#/components/parameters/SeasonParam"
      responses:
        "200":
          description: Team standings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLStandings"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/player_injuries:
    get:
      summary: Get NFL player injuries
      tags:
        - NFL
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/TeamIdsParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
      responses:
        "200":
          description: List of NFL player injuries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLPlayerInjury"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/season_stats:
    get:
      summary: Get NFL season stats
      description: Season totals are unavailable before the first kickoff of the requested season type, so the data array is empty. Rushing and receiving fumble counts cover those play types only. Use game stats for all-play fumble counts; null means unavailable, not zero.
      tags:
        - NFL
      parameters:
        - $ref: "#/components/parameters/SeasonParam"
        - $ref: "#/components/parameters/PlayerIdsParam"
        - name: team_id
          in: query
          required: false
          schema:
            type: integer
          description: Filter by team ID
        - $ref: "#/components/parameters/SeasonTypeWithoutPreseasonParam"
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
          description: Attribute to sort by
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          description: Sort order
      responses:
        "200":
          description: NFL season stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLSeasonStats"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/advanced_stats/rushing:
    get:
      summary: Get NFL advanced rushing stats
      tags:
        - NFL
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/SeasonParam"
        - name: player_id
          in: query
          required: false
          schema:
            type: integer
          description: Filter by player ID
        - name: week
          in: query
          required: false
          schema:
            type: integer
          description: Filter by week (0 for full season)
        - $ref: "#/components/parameters/SeasonTypeWithoutPreseasonParam"
      responses:
        "200":
          description: NFL advanced rushing stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLAdvancedRushingStats"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/advanced_stats/passing:
    get:
      summary: Get NFL advanced passing stats
      tags:
        - NFL
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/SeasonParam"
        - name: player_id
          in: query
          required: false
          schema:
            type: integer
          description: Filter by player ID
        - name: week
          in: query
          required: false
          schema:
            type: integer
          description: Filter by week (0 for full season)
        - $ref: "#/components/parameters/SeasonTypeWithoutPreseasonParam"
      responses:
        "200":
          description: NFL advanced passing stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLAdvancedPassingStats"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/advanced_stats/receiving:
    get:
      summary: Get NFL advanced receiving stats
      tags:
        - NFL
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/SeasonParam"
        - name: player_id
          in: query
          required: false
          schema:
            type: integer
          description: Filter by player ID
        - name: week
          in: query
          required: false
          schema:
            type: integer
          description: Filter by week (0 for full season)
        - $ref: "#/components/parameters/SeasonTypeWithoutPreseasonParam"
      responses:
        "200":
          description: NFL advanced receiving stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLAdvancedReceivingStats"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/odds:
    get:
      summary: Get NFL betting odds
      description: Retrieve betting odds for NFL games, including preseason. Either (season and week) or game_ids is required. Week queries default to regular season and postseason; use season_types[]=1 for preseason. A preseason game_id can be queried directly without season_types.
      tags:
        - NFL
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - name: season
          in: query
          required: false
          schema:
            type: integer
          description: Filter by season (must be provided with week)
        - name: week
          in: query
          required: false
          schema:
            type: integer
          description: Filter by week (must be provided with season)
        - name: season_types[]
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
              enum: [1, 2, 3]
          style: form
          explode: true
          description: "Filter by season types: 1 = preseason, 2 = regular season, 3 = postseason. Week queries default to regular season and postseason; game ID queries have no season type filter by default."
        - name: game_ids
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by game IDs
      responses:
        "200":
          description: NFL betting odds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLBettingOdd"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/odds/opening:
    get:
      summary: Get NFL opening betting odds
      description: Retrieve historical opening betting odds, including preseason when available. Week queries default to regular season and postseason; use season_types[]=1 for preseason. Requires GOAT tier.
      tags:
        - NFL
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/PerPageParam"
        - name: season
          in: query
          required: false
          schema:
            type: integer
          description: Filter by season
        - name: week
          in: query
          required: false
          schema:
            type: integer
          description: Filter by week
        - name: season_types[]
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
              enum: [1, 2, 3]
          style: form
          explode: true
          description: "Filter by season types: 1 = preseason, 2 = regular season, 3 = postseason. Week queries default to regular season and postseason; game ID queries have no season type filter by default."
        - name: game_ids
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
          description: Filter by game IDs
      responses:
        "200":
          description: Opening odds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLOpeningBettingOdd"
                  meta:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"

  /nfl/v1/odds/player_props:
    get:
      summary: Get NFL player prop betting odds
      description: |
        Retrieve live player prop betting data for NFL games. Player prop data is LIVE and updated in real-time.
        We do not store historical data. As games near completion, many (or all) player props may be removed from sportsbooks.

        **Note:** This endpoint returns all player props for the specified game in a single response. Pagination is not supported.

        The API supports two market types:
        - **over_under**: Traditional over/under markets where users can bet on whether a player will go over or under a specific line value
        - **milestone**: Milestone markets where users bet on whether a player will reach a specific achievement

        Sportsbook availability varies by game and market. Use the vendor values returned by the endpoint.
      tags:
        - NFL
      parameters:
        - name: game_id
          in: query
          required: true
          schema:
            type: integer
          description: The game ID to retrieve player props for (required)
        - name: player_id
          in: query
          required: false
          schema:
            type: integer
          description: Filter props for a specific player
        - name: prop_type
          in: query
          required: false
          schema:
            type: string
            example: passing_tds_1q
          description: Filter by an exact prop_type string returned by the endpoint, such as rushing_yards, anytime_td, or passing_tds_1q. Values are open-ended and availability varies by game and sportsbook.
        - name: vendors
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: Filter by specific sportsbook vendors (e.g., draftkings, fanduel). If not provided, returns props from all available vendors.
      responses:
        "200":
          description: NFL player prop betting odds
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFLPlayerProp"
                  meta:
                    $ref: "#/components/schemas/PlayerPropMeta"
              example:
                data:
                  - id: 111967700
                    game_id: 424129
                    player_id: 490
                    vendor: fanduel
                    prop_type: rushing_yards
                    line_value: "85.5"
                    market:
                      type: over_under
                      over_odds: -115
                      under_odds: -110
                    updated_at: "2025-11-29T16:28:13.503Z"
                  - id: 112042232
                    game_id: 424129
                    player_id: 490
                    vendor: draftkings
                    prop_type: anytime_td
                    line_value: "0.5"
                    market:
                      type: milestone
                      odds: -250
                    updated_at: "2025-11-29T16:31:25.627Z"
                meta:
                  per_page: 2
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
  /nfl/v1/odds/player_props/opening:
    get:
      summary: Get NFL opening player prop odds
      description: Retrieve historical opening player prop betting odds. Coverage is limited to the most recently completed season and ongoing seasons where available. Requires GOAT tier.
      tags:
        - NFL
      parameters:
        - name: game_id
          in: query
          required: true
          schema:
            type: integer
          description: The game ID to retrieve opening player props for
        - name: player_id
          in: query
          required: false
          schema:
            type: integer
          description: Filter props for a specific player
        - name: prop_type
          in: query
          required: false
          schema:
            type: string
          description: Filter by prop type
        - name: vendors
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
[...]
