openapi: 3.1.0
info:
  title: BALLDONTLIE - Valorant API
  version: 1.0.0
  description: Valorant reference data, tournaments, matches, live snapshots, rounds, and player statistics.
servers:
  - url: https://api.balldontlie.io
    description: Production server
security:
  - ApiKeyAuth: []
tags:
  - name: Valorant
    description: Valorant API endpoints
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    PaginationMeta:
      type: object
      additionalProperties: false
      required:
        - per_page
      properties:
        prev_cursor:
          type: integer
          minimum: 1
        next_cursor:
          type: integer
          minimum: 1
        per_page:
          type: integer
          minimum: 1
          maximum: 100
    AbilityUsageFields:
      type: object
      additionalProperties: false
      required:
        - grenade_casts
        - ability1_casts
        - ability2_casts
        - ultimate_casts
      properties:
        grenade_casts:
          type: number
        ability1_casts:
          type: number
        ability2_casts:
          type: number
        ultimate_casts:
          type: number
    Agent:
      type: object
      additionalProperties: false
      required:
        - id
        - name
      properties:
        id:
          type: number
        name:
          type: string
    AgentRef:
      type: object
      additionalProperties: false
      required:
        - id
        - name
      properties:
        id:
          type: number
        name:
          type: string
    AgentStat:
      type: object
      additionalProperties: false
      required:
        - id
        - agent
        - picks_count
        - picks_rate
        - rounds_count
        - average_combat_score
        - kd_ratio
        - kda_ratio
        - damage_per_round
        - kills_per_round
        - deaths_per_round
        - assists_per_round
        - first_kills_per_round
        - first_kill_success_rate
        - clutch_count
        - clutch_attempts
        - clutch_success_rate
      properties:
        id:
          type: number
        agent:
          $ref: '#/components/schemas/AgentRef'
        picks_count:
          type: number
        picks_rate:
          type: number
        rounds_count:
          type: number
        average_combat_score:
          type: number
        kd_ratio:
          type: number
        kda_ratio:
          type: number
        damage_per_round:
          type: number
        kills_per_round:
          type: number
        deaths_per_round:
          type: number
        assists_per_round:
          type: number
        first_kills_per_round:
          type: number
        first_kill_success_rate:
          type: number
        clutch_count:
          type: number
        clutch_attempts:
          type: number
        clutch_success_rate:
          type: number
    AggregateStatFields:
      type: object
      additionalProperties: false
      required:
        - rounds_count
        - total_combat_score
        - average_combat_score
        - total_kills
        - average_kills
        - total_deaths
        - average_deaths
        - total_damage
        - average_damage
        - total_assists
        - average_assists
        - total_first_kills
        - average_first_kills
        - total_first_deaths
        - average_first_deaths
        - first_duel_rate
        - first_duel_success_rate
        - total_trade_kills
        - average_trade_kills
        - total_trade_deaths
        - average_trade_deaths
        - total_head_shots
        - average_head_shots
        - head_shot_accuracy
        - total_body_shots
        - average_body_shots
        - body_shot_accuracy
        - total_leg_shots
        - average_leg_shots
        - leg_shot_accuracy
        - multikills_2
        - multikills_3
        - multikills_4
        - multikills_5
        - multikills_6
        - clutch_wins_1
        - clutch_wins_2
        - clutch_wins_3
        - clutch_wins_4
        - clutch_wins_5
        - clutch_success_rate
        - clutch_1_success_rate
        - clutch_2_success_rate
        - clutch_3_success_rate
        - clutch_4_success_rate
        - clutch_5_success_rate
        - total_loadout_value
        - average_loadout_value
        - average_kill_cost
        - average_100_damage_cost
      properties:
        rounds_count:
          type: number
        total_combat_score:
          type: number
        average_combat_score:
          type: number
        total_kills:
          type: number
        average_kills:
          type: number
        total_deaths:
          type: number
        average_deaths:
          type: number
        total_damage:
          type: number
        average_damage:
          type: number
        total_assists:
          type: number
        average_assists:
          type: number
        total_first_kills:
          type: number
        average_first_kills:
          type: number
        total_first_deaths:
          type: number
        average_first_deaths:
          type: number
        first_duel_rate:
          anyOf:
            - type: number
            - type: 'null'
        first_duel_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        total_trade_kills:
          type: number
        average_trade_kills:
          type: number
        total_trade_deaths:
          type: number
        average_trade_deaths:
          type: number
        total_head_shots:
          type: number
        average_head_shots:
          type: number
        head_shot_accuracy:
          anyOf:
            - type: number
            - type: 'null'
        total_body_shots:
          type: number
        average_body_shots:
          type: number
        body_shot_accuracy:
          anyOf:
            - type: number
            - type: 'null'
        total_leg_shots:
          type: number
        average_leg_shots:
          type: number
        leg_shot_accuracy:
          anyOf:
            - type: number
            - type: 'null'
        multikills_2:
          type: number
        multikills_3:
          type: number
        multikills_4:
          type: number
        multikills_5:
          type: number
        multikills_6:
          type: number
        clutch_wins_1:
          type: number
        clutch_wins_2:
          type: number
        clutch_wins_3:
          type: number
        clutch_wins_4:
          type: number
        clutch_wins_5:
          type: number
        clutch_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_1_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_2_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_3_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_4_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_5_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        total_loadout_value:
          type: number
        average_loadout_value:
          type: number
        average_kill_cost:
          anyOf:
            - type: number
            - type: 'null'
        average_100_damage_cost:
          anyOf:
            - type: number
            - type: 'null'
    CombatFields:
      type: object
      additionalProperties: false
      required:
        - kills
        - operator_kills
        - ability_kills
        - deaths
        - operator_deaths
        - ability_deaths
        - spike_deaths
        - assists
        - leg_shots
        - body_shots
        - head_shots
        - first_kills
        - first_deaths
        - trade_kills
        - trade_deaths
        - damage
        - damage_received
        - plants
        - defuses
      properties:
        kills:
          type: number
        operator_kills:
          type: number
        ability_kills:
          type: number
        deaths:
          type: number
        operator_deaths:
          type: number
        ability_deaths:
          type: number
        spike_deaths:
          type: number
        assists:
          type: number
        leg_shots:
          type: number
        body_shots:
          type: number
        head_shots:
          type: number
        first_kills:
          type: number
        first_deaths:
          type: number
        trade_kills:
          type: number
        trade_deaths:
          type: number
        damage:
          type: number
        damage_received:
          type: number
        plants:
          type: number
        defuses:
          type: number
    Country:
      type: object
      additionalProperties: false
      required:
        - id
        - code
        - name
        - region
      properties:
        id:
          type: number
        code:
          type: string
        name:
          type: string
        region:
          $ref: '#/components/schemas/RegionRef'
    CountryRef:
      type: object
      additionalProperties: false
      required:
        - id
        - code
        - name
      properties:
        id:
          type: number
        code:
          type: string
        name:
          type: string
    EconomyFields:
      type: object
      additionalProperties: false
      required:
        - money_spent
        - money_remaining
        - loadout_value
      properties:
        money_spent:
          type: number
        money_remaining:
          type: number
        loadout_value:
          type: number
    FairPlayerFields:
      type: object
      additionalProperties: false
      required:
        - fair_kills
        - fair_assists
        - fair_damage
      properties:
        fair_kills:
          type: number
        fair_assists:
          type: number
        fair_damage:
          type: number
    LiveMatch:
      type: object
      additionalProperties: false
      required:
        - id
        - match
        - current_match_map
        - current_game_number
        - current_round
        - status
        - phase
        - team1_score
        - team2_score
        - snapshot_at
        - players
      properties:
        id:
          type: number
        match:
          $ref: '#/components/schemas/Match'
        current_match_map:
          anyOf:
            - $ref: '#/components/schemas/MatchMapRef'
            - type: 'null'
        current_game_number:
          type: number
        current_round:
          type: number
        status:
          type: string
        phase:
          type: string
        team1_score:
          anyOf:
            - type: number
            - type: 'null'
        team2_score:
          anyOf:
            - type: number
            - type: 'null'
        snapshot_at:
          type: string
          format: date-time
        players:
          type: array
          items:
            $ref: '#/components/schemas/LivePlayerState'
    LivePlayerState:
      type: object
      additionalProperties: false
      required:
        - id
        - player
        - match_map
        - team
        - agent
        - side
        - is_alive
        - health
        - armor
        - total_kills
        - round_kills
        - total_deaths
        - round_deaths
        - total_damage
        - round_damage
        - total_assists
        - round_assists
        - average_damage_per_round
        - opening_kills
        - opening_deaths
        - multikills
        - clutches
        - balance
        - equipment_value
        - has_spike
        - primary_weapon
        - secondary_weapon
        - snapshot_at
      properties:
        id:
          type: number
        player:
          $ref: '#/components/schemas/PlayerRef'
        match_map:
          anyOf:
            - $ref: '#/components/schemas/MatchMapRef'
            - type: 'null'
        team:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        agent:
          anyOf:
            - $ref: '#/components/schemas/AgentRef'
            - type: 'null'
        side:
          anyOf:
            - type: string
            - type: 'null'
        is_alive:
          type: boolean
        health:
          type: number
        armor:
          type: number
        total_kills:
          type: number
        round_kills:
          type: number
        total_deaths:
          type: number
        round_deaths:
          type: number
        total_damage:
          type: number
        round_damage:
          type: number
        total_assists:
          type: number
        round_assists:
          type: number
        average_damage_per_round:
          type: number
        opening_kills:
          type: number
        opening_deaths:
          type: number
        multikills:
          type: number
        clutches:
          type: number
        balance:
          type: number
        equipment_value:
          type: number
        has_spike:
          type: boolean
        primary_weapon:
          anyOf:
            - $ref: '#/components/schemas/WeaponRef'
            - type: 'null'
        secondary_weapon:
          anyOf:
            - $ref: '#/components/schemas/WeaponRef'
            - type: 'null'
        snapshot_at:
          type: string
          format: date-time
    Map:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - slug
        - scenario
        - alternative_names
        - in_map_pool
      properties:
        id:
          type: number
        name:
          type: string
        slug:
          type: string
        scenario:
          anyOf:
            - type: string
            - type: 'null'
        alternative_names:
          type: array
          items:
            type: string
        in_map_pool:
          type: boolean
    MapRef:
      type: object
      additionalProperties: false
      required:
        - id
        - name
      properties:
        id:
          type: number
        name:
          type: string
    Match:
      type: object
      additionalProperties: false
      required:
        - id
        - slug
        - tournament
        - stage
        - start_at
        - end_at
        - status
        - team1
        - team2
        - winner
        - loser
        - team1_score
        - team2_score
        - position
        - points
        - live_coverage
        - live_updates
      properties:
        id:
          type: number
        slug:
          type: string
        tournament:
          anyOf:
            - $ref: '#/components/schemas/TournamentRef'
            - type: 'null'
        stage:
          anyOf:
            - $ref: '#/components/schemas/StageRef'
            - type: 'null'
        start_at:
          type: string
          format: date-time
        end_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
        status:
          anyOf:
            - type: string
            - type: 'null'
        team1:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        team2:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        winner:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        loser:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        team1_score:
          anyOf:
            - type: number
            - type: 'null'
        team2_score:
          anyOf:
            - type: number
            - type: 'null'
        position:
          anyOf:
            - type: number
            - type: 'null'
        points:
          anyOf:
            - type: number
            - type: 'null'
        live_coverage:
          type: boolean
        live_updates:
          anyOf:
            - type: boolean
            - type: 'null'
    MatchMap:
      type: object
      additionalProperties: false
      required:
        - id
        - match_id
        - map
        - game_number
        - begin_at
        - status
        - winner
        - loser
        - winner_score
        - loser_score
        - overtime_count
      properties:
        id:
          type: number
        match_id:
          type: number
        map:
          anyOf:
            - $ref: '#/components/schemas/MapRef'
            - type: 'null'
        game_number:
          type: number
        begin_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
        status:
          anyOf:
            - type: string
            - type: 'null'
        winner:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        loser:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        winner_score:
          anyOf:
            - type: number
            - type: 'null'
        loser_score:
          anyOf:
            - type: number
            - type: 'null'
        overtime_count:
          anyOf:
            - type: number
            - type: 'null'
    MatchMapRef:
      type: object
      additionalProperties: false
      required:
        - id
        - match_id
        - game_number
        - map
      properties:
        id:
          type: number
        match_id:
          type: number
        game_number:
          type: number
        map:
          anyOf:
            - $ref: '#/components/schemas/MapRef'
            - type: 'null'
    MatchRef:
      type: object
      additionalProperties: false
      required:
        - id
        - slug
      properties:
        id:
          type: number
        slug:
          type: string
    MultiClutchFields:
      type: object
      additionalProperties: false
      required:
        - multikills_2
        - multikills_3
        - multikills_4
        - multikills_5
        - multikills_6
        - clutch_wins_1
        - clutch_wins_2
        - clutch_wins_3
        - clutch_wins_4
        - clutch_wins_5
        - clutch_attempts_1
        - clutch_attempts_2
        - clutch_attempts_3
        - clutch_attempts_4
        - clutch_attempts_5
      properties:
        multikills_2:
          type: number
        multikills_3:
          type: number
        multikills_4:
          type: number
        multikills_5:
          type: number
        multikills_6:
          type: number
        clutch_wins_1:
          type: number
        clutch_wins_2:
          type: number
        clutch_wins_3:
          type: number
        clutch_wins_4:
          type: number
        clutch_wins_5:
          type: number
        clutch_attempts_1:
          type: number
        clutch_attempts_2:
          type: number
        clutch_attempts_3:
          type: number
        clutch_attempts_4:
          type: number
        clutch_attempts_5:
          type: number
    Player:
      type: object
      additionalProperties: false
      required:
        - id
        - nickname
        - first_name
        - last_name
        - slug
        - birthday
        - country
        - team
        - is_coach
        - joined_team_at
        - total_prize
        - rank
      properties:
        id:
          type: number
        nickname:
          anyOf:
            - type: string
            - type: 'null'
        first_name:
          anyOf:
            - type: string
            - type: 'null'
        last_name:
          anyOf:
            - type: string
            - type: 'null'
        slug:
          anyOf:
            - type: string
            - type: 'null'
        birthday:
          anyOf:
            - type: string
              format: date
            - type: 'null'
        country:
          anyOf:
            - $ref: '#/components/schemas/CountryRef'
            - type: 'null'
        team:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        is_coach:
          anyOf:
            - type: boolean
            - type: 'null'
        joined_team_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
        total_prize:
          anyOf:
            - type: number
            - type: 'null'
        rank:
          anyOf:
            - type: number
            - type: 'null'
    PlayerCrosshair:
      type: object
      additionalProperties: false
      required:
        - id
        - player
        - code
        - popular
        - current
      properties:
        id:
          type: number
        player:
          $ref: '#/components/schemas/PlayerRef'
        code:
          type: string
        popular:
          type: boolean
        current:
          type: boolean
    PlayerMatchMapStat:
      type: object
      additionalProperties: false
      required:
        - kills
        - deaths
        - assists
        - first_kills
        - first_deaths
        - damage
        - operator_kills
        - ability_kills
        - operator_deaths
        - ability_deaths
        - spike_deaths
        - leg_shots
        - body_shots
        - head_shots
        - trade_kills
        - trade_deaths
        - damage_received
        - plants
        - defuses
        - money_spent
        - money_remaining
        - loadout_value
        - multikills_2
        - multikills_3
        - multikills_4
        - multikills_5
        - multikills_6
        - clutch_wins_1
        - clutch_wins_2
        - clutch_wins_3
        - clutch_wins_4
        - clutch_wins_5
        - clutch_attempts_1
        - clutch_attempts_2
        - clutch_attempts_3
        - clutch_attempts_4
        - clutch_attempts_5
        - grenade_casts
        - ability1_casts
        - ability2_casts
        - ultimate_casts
        - fair_kills
        - fair_assists
        - fair_damage
        - id
        - match_map_id
        - is_final
        - snapshot_at
        - profile
        - player
        - agent
        - team
        - enemy_team
        - rounds_count
        - wins
        - rating
        - combat_score
        - side
        - average_damage_per_round
        - multikills
        - clutches
        - balance
        - equipment_value
      properties:
        kills:
          type: number
        deaths:
          type: number
        assists:
          type: number
        first_kills:
          type: number
        first_deaths:
          type: number
        damage:
          type: number
        operator_kills:
          anyOf:
            - type: number
            - type: 'null'
        ability_kills:
          anyOf:
            - type: number
            - type: 'null'
        operator_deaths:
          anyOf:
            - type: number
            - type: 'null'
        ability_deaths:
          anyOf:
            - type: number
            - type: 'null'
        spike_deaths:
          anyOf:
            - type: number
            - type: 'null'
        leg_shots:
          anyOf:
            - type: number
            - type: 'null'
        body_shots:
          anyOf:
            - type: number
            - type: 'null'
        head_shots:
          anyOf:
            - type: number
            - type: 'null'
        trade_kills:
          anyOf:
            - type: number
            - type: 'null'
        trade_deaths:
          anyOf:
            - type: number
            - type: 'null'
        damage_received:
          anyOf:
            - type: number
            - type: 'null'
        plants:
          anyOf:
            - type: number
            - type: 'null'
        defuses:
          anyOf:
            - type: number
            - type: 'null'
        money_spent:
          anyOf:
            - type: number
            - type: 'null'
        money_remaining:
          anyOf:
            - type: number
            - type: 'null'
        loadout_value:
          anyOf:
            - type: number
            - type: 'null'
        multikills_2:
          anyOf:
            - type: number
            - type: 'null'
        multikills_3:
          anyOf:
            - type: number
            - type: 'null'
        multikills_4:
          anyOf:
            - type: number
            - type: 'null'
        multikills_5:
          anyOf:
            - type: number
            - type: 'null'
        multikills_6:
          anyOf:
            - type: number
            - type: 'null'
        clutch_wins_1:
          anyOf:
            - type: number
            - type: 'null'
        clutch_wins_2:
          anyOf:
            - type: number
            - type: 'null'
        clutch_wins_3:
          anyOf:
            - type: number
            - type: 'null'
        clutch_wins_4:
          anyOf:
            - type: number
            - type: 'null'
        clutch_wins_5:
          anyOf:
            - type: number
            - type: 'null'
        clutch_attempts_1:
          anyOf:
            - type: number
            - type: 'null'
        clutch_attempts_2:
          anyOf:
            - type: number
            - type: 'null'
        clutch_attempts_3:
          anyOf:
            - type: number
            - type: 'null'
        clutch_attempts_4:
          anyOf:
            - type: number
            - type: 'null'
        clutch_attempts_5:
          anyOf:
            - type: number
            - type: 'null'
        grenade_casts:
          anyOf:
            - type: number
            - type: 'null'
        ability1_casts:
          anyOf:
            - type: number
            - type: 'null'
        ability2_casts:
          anyOf:
            - type: number
            - type: 'null'
        ultimate_casts:
          anyOf:
            - type: number
            - type: 'null'
        fair_kills:
          anyOf:
            - type: number
            - type: 'null'
        fair_assists:
          anyOf:
            - type: number
            - type: 'null'
        fair_damage:
          anyOf:
            - type: number
            - type: 'null'
        id:
          type: number
        match_map_id:
          type: number
        is_final:
          type: boolean
        snapshot_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
        profile:
          anyOf:
            - $ref: '#/components/schemas/ProfileRef'
            - type: 'null'
        player:
          $ref: '#/components/schemas/PlayerRef'
        agent:
          anyOf:
            - $ref: '#/components/schemas/AgentRef'
            - type: 'null'
        team:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        enemy_team:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        rounds_count:
          anyOf:
            - type: number
            - type: 'null'
        wins:
          anyOf:
            - type: number
            - type: 'null'
        rating:
          anyOf:
            - type: number
            - type: 'null'
        combat_score:
          anyOf:
            - type: number
            - type: 'null'
        side:
          anyOf:
            - type: string
            - type: 'null'
        average_damage_per_round:
          anyOf:
            - type: number
            - type: 'null'
        multikills:
          anyOf:
            - type: number
            - type: 'null'
        clutches:
          anyOf:
            - type: number
            - type: 'null'
        balance:
          anyOf:
            - type: number
            - type: 'null'
        equipment_value:
          anyOf:
            - type: number
            - type: 'null'
    PlayerMatchStat:
      type: object
      additionalProperties: false
      required:
        - rounds_count
        - total_combat_score
        - average_combat_score
        - total_kills
        - average_kills
        - total_deaths
        - average_deaths
        - total_damage
        - average_damage
        - total_assists
        - average_assists
        - total_first_kills
        - average_first_kills
        - total_first_deaths
        - average_first_deaths
        - first_duel_rate
        - first_duel_success_rate
        - total_trade_kills
        - average_trade_kills
        - total_trade_deaths
        - average_trade_deaths
        - total_head_shots
        - average_head_shots
        - head_shot_accuracy
        - total_body_shots
        - average_body_shots
        - body_shot_accuracy
        - total_leg_shots
        - average_leg_shots
        - leg_shot_accuracy
        - multikills_2
        - multikills_3
        - multikills_4
        - multikills_5
        - multikills_6
        - clutch_wins_1
        - clutch_wins_2
        - clutch_wins_3
        - clutch_wins_4
        - clutch_wins_5
        - clutch_success_rate
        - clutch_1_success_rate
        - clutch_2_success_rate
        - clutch_3_success_rate
        - clutch_4_success_rate
        - clutch_5_success_rate
        - total_loadout_value
        - average_loadout_value
        - average_kill_cost
        - average_100_damage_cost
        - id
        - match_id
        - profile
        - player
        - team
        - game_name
        - selected_agents
        - selected_maps
        - maps_played
      properties:
        rounds_count:
          type: number
        total_combat_score:
          type: number
        average_combat_score:
          type: number
        total_kills:
          type: number
        average_kills:
          type: number
        total_deaths:
          type: number
        average_deaths:
          type: number
        total_damage:
          type: number
        average_damage:
          type: number
        total_assists:
          type: number
        average_assists:
          type: number
        total_first_kills:
          type: number
        average_first_kills:
          type: number
        total_first_deaths:
          type: number
        average_first_deaths:
          type: number
        first_duel_rate:
          anyOf:
            - type: number
            - type: 'null'
        first_duel_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        total_trade_kills:
          type: number
        average_trade_kills:
          type: number
        total_trade_deaths:
          type: number
        average_trade_deaths:
          type: number
        total_head_shots:
          type: number
        average_head_shots:
          type: number
        head_shot_accuracy:
          anyOf:
            - type: number
            - type: 'null'
        total_body_shots:
          type: number
        average_body_shots:
          type: number
        body_shot_accuracy:
          anyOf:
            - type: number
            - type: 'null'
        total_leg_shots:
          type: number
        average_leg_shots:
          type: number
        leg_shot_accuracy:
          anyOf:
            - type: number
            - type: 'null'
        multikills_2:
          type: number
        multikills_3:
          type: number
        multikills_4:
          type: number
        multikills_5:
          type: number
        multikills_6:
          type: number
        clutch_wins_1:
          type: number
        clutch_wins_2:
          type: number
        clutch_wins_3:
          type: number
        clutch_wins_4:
          type: number
        clutch_wins_5:
          type: number
        clutch_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_1_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_2_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_3_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_4_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_5_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        total_loadout_value:
          type: number
        average_loadout_value:
          type: number
        average_kill_cost:
          anyOf:
            - type: number
            - type: 'null'
        average_100_damage_cost:
          anyOf:
            - type: number
            - type: 'null'
        id:
          type: number
        match_id:
          type: number
        profile:
          anyOf:
            - $ref: '#/components/schemas/ProfileRef'
            - type: 'null'
        player:
          $ref: '#/components/schemas/PlayerRef'
        team:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        game_name:
          type: string
        selected_agents:
          type: array
          items:
            $ref: '#/components/schemas/AgentRef'
        selected_maps:
          type: array
          items:
            $ref: '#/components/schemas/MapRef'
        maps_played:
          type: number
    PlayerMatchWeaponStat:
      type: object
      additionalProperties: false
      required:
        - id
        - match_id
        - profile
        - player
        - weapon
        - kills
      properties:
        id:
          type: number
        match_id:
          type: number
        profile:
          $ref: '#/components/schemas/ProfileRef'
        player:
          anyOf:
            - $ref: '#/components/schemas/PlayerRef'
            - type: 'null'
        weapon:
          $ref: '#/components/schemas/WeaponRef'
        kills:
          type: number
    PlayerOverallStat:
      type: object
      additionalProperties: false
      required:
        - rounds_count
        - total_combat_score
        - average_combat_score
        - total_kills
        - average_kills
        - total_deaths
        - average_deaths
        - total_damage
        - average_damage
        - total_assists
        - average_assists
        - total_first_kills
        - average_first_kills
        - total_first_deaths
        - average_first_deaths
        - first_duel_rate
        - first_duel_success_rate
        - total_trade_kills
        - average_trade_kills
        - total_trade_deaths
        - average_trade_deaths
        - total_head_shots
        - average_head_shots
        - head_shot_accuracy
        - total_body_shots
        - average_body_shots
        - body_shot_accuracy
        - total_leg_shots
        - average_leg_shots
        - leg_shot_accuracy
        - multikills_2
        - multikills_3
        - multikills_4
        - multikills_5
        - multikills_6
        - clutch_wins_1
        - clutch_wins_2
        - clutch_wins_3
        - clutch_wins_4
        - clutch_wins_5
        - clutch_success_rate
        - clutch_1_success_rate
        - clutch_2_success_rate
        - clutch_3_success_rate
        - clutch_4_success_rate
        - clutch_5_success_rate
        - total_loadout_value
        - average_loadout_value
        - average_kill_cost
        - average_100_damage_cost
        - id
        - profile
        - player
        - games_count
      properties:
        rounds_count:
          type: number
        total_combat_score:
          type: number
        average_combat_score:
          type: number
        total_kills:
          type: number
        average_kills:
          type: number
        total_deaths:
          type: number
        average_deaths:
          type: number
        total_damage:
          type: number
        average_damage:
          type: number
        total_assists:
          type: number
        average_assists:
          type: number
        total_first_kills:
          type: number
        average_first_kills:
          type: number
        total_first_deaths:
          type: number
        average_first_deaths:
          type: number
        first_duel_rate:
          anyOf:
            - type: number
            - type: 'null'
        first_duel_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        total_trade_kills:
          type: number
        average_trade_kills:
          type: number
        total_trade_deaths:
          type: number
        average_trade_deaths:
          type: number
        total_head_shots:
          type: number
        average_head_shots:
          type: number
        head_shot_accuracy:
          anyOf:
            - type: number
            - type: 'null'
        total_body_shots:
          type: number
        average_body_shots:
          type: number
        body_shot_accuracy:
          anyOf:
            - type: number
            - type: 'null'
        total_leg_shots:
          type: number
        average_leg_shots:
          type: number
        leg_shot_accuracy:
          anyOf:
            - type: number
            - type: 'null'
        multikills_2:
          type: number
        multikills_3:
          type: number
        multikills_4:
          type: number
        multikills_5:
          type: number
        multikills_6:
          type: number
        clutch_wins_1:
          type: number
        clutch_wins_2:
          type: number
        clutch_wins_3:
          type: number
        clutch_wins_4:
          type: number
        clutch_wins_5:
          type: number
        clutch_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_1_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_2_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_3_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_4_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        clutch_5_success_rate:
          anyOf:
            - type: number
            - type: 'null'
        total_loadout_value:
          type: number
        average_loadout_value:
          type: number
        average_kill_cost:
          anyOf:
            - type: number
            - type: 'null'
        average_100_damage_cost:
          anyOf:
            - type: number
            - type: 'null'
        id:
          type: number
        profile:
          $ref: '#/components/schemas/ProfileRef'
        player:
          $ref: '#/components/schemas/PlayerRef'
        games_count:
          type: number
    PlayerProfile:
      type: object
      additionalProperties: false
      required:
        - id
        - game_name
        - tag_line
        - player
        - region
        - nickname
        - acronym
      properties:
        id:
          type: number
        game_name:
          anyOf:
            - type: string
            - type: 'null'
        tag_line:
          anyOf:
            - type: string
            - type: 'null'
        player:
          anyOf:
            - $ref: '#/components/schemas/PlayerRef'
            - type: 'null'
        region:
          anyOf:
            - type: string
            - type: 'null'
        nickname:
          anyOf:
            - type: string
            - type: 'null'
        acronym:
          anyOf:
            - type: string
            - type: 'null'
    PlayerRef:
      type: object
      additionalProperties: false
      required:
        - id
        - nickname
        - first_name
        - last_name
      properties:
        id:
          type: number
        nickname:
          anyOf:
            - type: string
            - type: 'null'
        first_name:
          anyOf:
            - type: string
            - type: 'null'
        last_name:
          anyOf:
            - type: string
            - type: 'null'
    PlayerRoundStat:
      type: object
      additionalProperties: false
      required:
        - kills
        - operator_kills
        - ability_kills
        - deaths
        - operator_deaths
        - ability_deaths
        - spike_deaths
        - assists
        - leg_shots
        - body_shots
        - head_shots
        - first_kills
        - first_deaths
        - trade_kills
        - trade_deaths
        - damage
        - damage_received
        - plants
        - defuses
        - money_spent
        - money_remaining
        - loadout_value
        - multikills_2
        - multikills_3
        - multikills_4
        - multikills_5
        - multikills_6
        - clutch_wins_1
        - clutch_wins_2
        - clutch_wins_3
        - clutch_wins_4
        - clutch_wins_5
        - clutch_attempts_1
        - clutch_attempts_2
        - clutch_attempts_3
        - clutch_attempts_4
        - clutch_attempts_5
        - grenade_casts
        - ability1_casts
        - ability2_casts
        - ultimate_casts
        - fair_kills
        - fair_assists
        - fair_damage
        - id
        - round_id
        - match_map_id
        - profile
        - player
        - agent
        - weapon
        - team
        - enemy_team
        - round_number
        - side_code
        - is_overtime
        - is_pistol
        - win
        - game_win
        - rating_value
        - combat_score
        - economy_level
        - average_enemy_loadout_value
        - enemy_economy_level
        - cumulative_rating_value
        - cumulative_combat_score
        - cumulative_kills
        - cumulative_deaths
        - cumulative_assists
        - cumulative_damage
        - cumulative_wins
      properties:
        kills:
          type: number
        operator_kills:
          type: number
        ability_kills:
          type: number
        deaths:
          type: number
        operator_deaths:
          type: number
        ability_deaths:
          type: number
        spike_deaths:
          type: number
        assists:
          type: number
        leg_shots:
          type: number
        body_shots:
          type: number
        head_shots:
          type: number
        first_kills:
          type: number
        first_deaths:
          type: number
        trade_kills:
          type: number
        trade_deaths:
          type: number
        damage:
          type: number
        damage_received:
          type: number
        plants:
          type: number
        defuses:
          type: number
        money_spent:
          type: number
        money_remaining:
          type: number
        loadout_value:
          type: number
        multikills_2:
          type: number
        multikills_3:
          type: number
        multikills_4:
          type: number
        multikills_5:
          type: number
        multikills_6:
          type: number
        clutch_wins_1:
          type: number
        clutch_wins_2:
          type: number
        clutch_wins_3:
          type: number
        clutch_wins_4:
          type: number
        clutch_wins_5:
          type: number
        clutch_attempts_1:
          type: number
        clutch_attempts_2:
          type: number
        clutch_attempts_3:
          type: number
        clutch_attempts_4:
          type: number
        clutch_attempts_5:
          type: number
        grenade_casts:
          type: number
        ability1_casts:
          type: number
        ability2_casts:
          type: number
        ultimate_casts:
          type: number
        fair_kills:
          type: number
        fair_assists:
          type: number
        fair_damage:
          type: number
        id:
          type: number
        round_id:
          type: number
        match_map_id:
          type: number
        profile:
          $ref: '#/components/schemas/ProfileRef'
        player:
          anyOf:
            - $ref: '#/components/schemas/PlayerRef'
            - type: 'null'
        agent:
          anyOf:
            - $ref: '#/components/schemas/AgentRef'
            - type: 'null'
        weapon:
          anyOf:
            - $ref: '#/components/schemas/WeaponRef'
            - type: 'null'
        team:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        enemy_team:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        round_number:
          type: number
        side_code:
          type: number
        is_overtime:
          type: boolean
        is_pistol:
          type: boolean
        win:
          type: boolean
        game_win:
          type: boolean
        rating_value:
          type: number
        combat_score:
          type: number
        economy_level:
          type: number
        average_enemy_loadout_value:
          type: number
        enemy_economy_level:
          type: number
        cumulative_rating_value:
          type: number
        cumulative_combat_score:
          type: number
        cumulative_kills:
          type: number
        cumulative_deaths:
          type: number
        cumulative_assists:
          type: number
        cumulative_damage:
          type: number
        cumulative_wins:
          type: number
    PlayerTransfer:
      type: object
      additionalProperties: false
      required:
        - id
        - player
        - action_code
        - action_date
        - from_team
        - to_team
        - is_coach
      properties:
        id:
          type: number
        player:
          anyOf:
            - $ref: '#/components/schemas/PlayerRef'
            - type: 'null'
        action_code:
          type: number
        action_date:
          anyOf:
            - type: string
              format: date
            - type: 'null'
        from_team:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        to_team:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        is_coach:
          type: boolean
    ProfileRef:
      type: object
      additionalProperties: false
      required:
        - id
        - game_name
        - tag_line
      properties:
        id:
          type: number
        game_name:
          anyOf:
            - type: string
            - type: 'null'
        tag_line:
          anyOf:
            - type: string
            - type: 'null'
    Region:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - slug
      properties:
        id:
          type: number
        name:
          type: string
        slug:
          type: string
    RegionRef:
      type: object
      additionalProperties: false
      required:
        - id
        - name
      properties:
        id:
          type: number
        name:
          type: string
    Round:
      type: object
      additionalProperties: false
      required:
        - id
        - match_map_id
        - is_final
        - snapshot_at
        - round_number
        - winner_side
        - win_reason
        - result_code
        - winner_side_code
        - loser_side_code
        - winner_score
        - loser_score
        - duration_ms
        - is_overtime
        - is_pistol
        - winner
        - loser
      properties:
        id:
          type: number
        match_map_id:
          type: number
        is_final:
          type: boolean
        snapshot_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
        round_number:
          type: number
        winner_side:
          anyOf:
            - type: string
            - type: 'null'
        win_reason:
          anyOf:
            - type: string
            - type: 'null'
        result_code:
          anyOf:
            - type: number
            - type: 'null'
        winner_side_code:
          anyOf:
            - type: number
            - type: 'null'
        loser_side_code:
          anyOf:
            - type: number
            - type: 'null'
        winner_score:
          anyOf:
            - type: number
            - type: 'null'
        loser_score:
          anyOf:
            - type: number
            - type: 'null'
        duration_ms:
          anyOf:
            - type: number
            - type: 'null'
        is_overtime:
          anyOf:
            - type: boolean
            - type: 'null'
        is_pistol:
          anyOf:
            - type: boolean
            - type: 'null'
        winner:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        loser:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
    Series:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - slug
      properties:
        id:
          type: number
        name:
          type: string
        slug:
          type: string
    SeriesRef:
      type: object
      additionalProperties: false
      required:
        - id
        - name
      properties:
        id:
          type: number
        name:
          type: string
    StageRef:
      type: object
      additionalProperties: false
      required:
        - id
        - name
      properties:
        id:
          type: number
        name:
          type: string
    Team:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - acronym
        - slug
        - country
        - rank
        - six_month_earnings
        - total_earnings
        - tournament_wins
      properties:
        id:
          type: number
        name:
          anyOf:
            - type: string
            - type: 'null'
        acronym:
          anyOf:
            - type: string
            - type: 'null'
        slug:
          anyOf:
            - type: string
            - type: 'null'
        country:
          anyOf:
            - $ref: '#/components/schemas/CountryRef'
            - type: 'null'
        rank:
          anyOf:
            - type: number
            - type: 'null'
        six_month_earnings:
          anyOf:
            - type: number
            - type: 'null'
        total_earnings:
          anyOf:
            - type: number
            - type: 'null'
        tournament_wins:
          anyOf:
            - type: number
            - type: 'null'
    TeamRef:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - acronym
      properties:
        id:
          type: number
        name:
          anyOf:
            - type: string
            - type: 'null'
        acronym:
          anyOf:
            - type: string
            - type: 'null'
    TeamRoundStat:
      type: object
      additionalProperties: false
      required:
        - kills
        - operator_kills
        - ability_kills
        - deaths
        - operator_deaths
        - ability_deaths
        - spike_deaths
        - assists
        - leg_shots
        - body_shots
        - head_shots
        - first_kills
        - first_deaths
        - trade_kills
        - trade_deaths
        - damage
        - damage_received
        - plants
        - defuses
        - money_spent
        - money_remaining
        - loadout_value
        - multikills_2
        - multikills_3
        - multikills_4
        - multikills_5
        - multikills_6
        - clutch_wins_1
        - clutch_wins_2
        - clutch_wins_3
        - clutch_wins_4
        - clutch_wins_5
        - clutch_attempts_1
        - clutch_attempts_2
        - clutch_attempts_3
        - clutch_attempts_4
        - clutch_attempts_5
        - grenade_casts
        - ability1_casts
        - ability2_casts
        - ultimate_casts
        - id
        - round_id
        - match_map_id
        - team
        - enemy_team
        - round_number
        - side_code
        - is_overtime
        - is_pistol
        - win
        - game_win
        - average_combat_score
        - economy_level
        - enemy_loadout_value
        - enemy_economy_level
        - cumulative_average_rating_value
        - cumulative_average_combat_score
        - cumulative_kills
        - cumulative_deaths
        - cumulative_assists
        - cumulative_damage
        - cumulative_wins
      properties:
        kills:
          type: number
        operator_kills:
          type: number
        ability_kills:
          type: number
        deaths:
          type: number
        operator_deaths:
          type: number
        ability_deaths:
          type: number
        spike_deaths:
          type: number
        assists:
          type: number
        leg_shots:
          type: number
        body_shots:
          type: number
        head_shots:
          type: number
        first_kills:
          type: number
        first_deaths:
          type: number
        trade_kills:
          type: number
        trade_deaths:
          type: number
        damage:
          type: number
        damage_received:
          type: number
        plants:
          type: number
        defuses:
          type: number
        money_spent:
          type: number
        money_remaining:
          type: number
        loadout_value:
          type: number
        multikills_2:
          type: number
        multikills_3:
          type: number
        multikills_4:
          type: number
        multikills_5:
          type: number
        multikills_6:
          type: number
        clutch_wins_1:
          type: number
        clutch_wins_2:
          type: number
        clutch_wins_3:
          type: number
        clutch_wins_4:
          type: number
        clutch_wins_5:
          type: number
        clutch_attempts_1:
          type: number
        clutch_attempts_2:
          type: number
        clutch_attempts_3:
          type: number
        clutch_attempts_4:
          type: number
        clutch_attempts_5:
          type: number
        grenade_casts:
          type: number
        ability1_casts:
          type: number
        ability2_casts:
          type: number
        ultimate_casts:
          type: number
        id:
          type: number
        round_id:
          type: number
        match_map_id:
          type: number
        team:
          $ref: '#/components/schemas/TeamRef'
        enemy_team:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        round_number:
          type: number
        side_code:
          type: number
        is_overtime:
          type: boolean
        is_pistol:
          type: boolean
        win:
          type: boolean
        game_win:
          type: boolean
        average_combat_score:
          type: number
        economy_level:
          type: number
        enemy_loadout_value:
          type: number
        enemy_economy_level:
          type: number
        cumulative_average_rating_value:
          type: number
        cumulative_average_combat_score:
          type: number
        cumulative_kills:
          type: number
        cumulative_deaths:
          type: number
        cumulative_assists:
          type: number
        cumulative_damage:
          type: number
        cumulative_wins:
          type: number
    Tournament:
      type: object
      additionalProperties: false
      required:
        - id
        - slug
        - name
        - start_at
        - end_at
        - prize_pool
        - event_type
        - status
        - region
        - series
      properties:
        id:
          type: number
        slug:
          anyOf:
            - type: string
            - type: 'null'
        name:
          anyOf:
            - type: string
            - type: 'null'
        start_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
        end_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
        prize_pool:
          anyOf:
            - type: number
            - type: 'null'
        event_type:
          anyOf:
            - type: string
            - type: 'null'
        status:
          anyOf:
            - type: string
            - type: 'null'
        region:
          anyOf:
            - $ref: '#/components/schemas/RegionRef'
            - type: 'null'
        series:
          anyOf:
            - $ref: '#/components/schemas/SeriesRef'
            - type: 'null'
    TournamentPrize:
      type: object
      additionalProperties: false
      required:
        - id
        - tournament_id
        - team
        - placement
        - money
        - points
        - club_money
        - qualification_tournament
      properties:
        id:
          type: number
        tournament_id:
          type: number
        team:
          anyOf:
            - $ref: '#/components/schemas/TeamRef'
            - type: 'null'
        placement:
          type: string
        money:
          anyOf:
            - type: number
            - type: 'null'
        points:
          anyOf:
            - type: number
            - type: 'null'
        club_money:
          anyOf:
            - type: number
            - type: 'null'
        qualification_tournament:
          anyOf:
            - $ref: '#/components/schemas/TournamentRef'
            - type: 'null'
    TournamentRef:
      type: object
      additionalProperties: false
      required:
        - id
        - name
      properties:
        id:
          type: number
        name:
          anyOf:
            - type: string
            - type: 'null'
    TournamentRoster:
      type: object
      additionalProperties: false
      required:
        - id
        - tournament_id
        - team
        - player
        - is_coach
        - money
      properties:
        id:
          type: number
        tournament_id:
          type: number
        team:
          $ref: '#/components/schemas/TeamRef'
        player:
          $ref: '#/components/schemas/PlayerRef'
        is_coach:
          anyOf:
            - type: boolean
            - type: 'null'
        money:
          anyOf:
            - type: number
            - type: 'null'
    TournamentStage:
      type: object
      additionalProperties: false
      required:
        - id
        - tournament_id
        - name
        - format
        - status
        - start_at
        - end_at
        - sequence
        - subgroup
        - promotion_team_count
      properties:
        id:
          type: number
        tournament_id:
          type: number
        name:
          type: string
        format:
          type: string
        status:
          anyOf:
            - type: string
            - type: 'null'
        start_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
        end_at:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
        sequence:
          anyOf:
            - type: number
            - type: 'null'
        subgroup:
          anyOf:
            - type: number
            - type: 'null'
        promotion_team_count:
          anyOf:
            - type: number
            - type: 'null'
    TournamentTeam:
      type: object
      additionalProperties: false
      required:
        - id
        - tournament_id
        - team
      properties:
        id:
          type: number
        tournament_id:
          type: number
        team:
          $ref: '#/components/schemas/TeamRef'
    Weapon:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - category
        - slug
      properties:
        id:
          type: number
        name:
          anyOf:
            - type: string
            - type: 'null'
        category:
          anyOf:
            - type: string
            - type: 'null'
        slug:
          anyOf:
            - type: string
            - type: 'null'
    WeaponRef:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - category
      properties:
        id:
          type: number
        name:
          anyOf:
            - type: string
            - type: 'null'
        category:
          anyOf:
            - type: string
            - type: 'null'
paths:
  /valorant/v1/regions:
    get:
      operationId: getValorantRegions
      summary: List Valorant regions
      description: Returns the available competitive regions. Requires Free tier or higher.
      tags:
        - Valorant
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Region'
              examples:
                example:
                  summary: Example response
                  value:
                    data:
                      - id: 8
                        name: Africa
                        slug: africa
                      - id: 5
                        name: Asia
                        slug: asia
                      - id: 4
                        name: CIS
                        slug: cis
                      - id: 3
                        name: Europe
                        slug: europe
                      - id: 1
                        name: North America
                        slug: north-america
                      - id: 6
                        name: Oceania
                        slug: oceania
                      - id: 7
                        name: Other
                        slug: other
                      - id: 2
                        name: South America
                        slug: south-america
        '400':
          description: Invalid query parameters
        '401':
          description: Missing API key or insufficient account tier
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /valorant/v1/countries:
    get:
      operationId: getValorantCountries
      summary: List countries
      description: Returns countries and their competitive regions. Requires Free tier or higher.
      tags:
        - Valorant
      parameters:
        - name: region_ids[]
          in: query
          required: false
          description: Filter by one or more region IDs.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              minimum: 1
        - name: cursor
          in: query
          required: false
          description: Cursor from the previous response's meta.next_cursor value.
          schema:
            type: integer
            minimum: 1
        - name: per_page
          in: query
          required: false
          description: Maximum number of results to return. Defaults to 25; maximum 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                example:
                  summary: Example response
                  value:
                    data:
                      - id: 1
                        code: CA
                        name: Canada
                        region:
                          id: 1
                          name: North America
                    meta:
                      next_cursor: 1
                      per_page: 1
        '400':
          description: Invalid query parameters
        '401':
          description: Missing API key or insufficient account tier
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /valorant/v1/series:
    get:
      operationId: getValorantSeries
      summary: List tournament series
      description: Returns tournament series. Requires Free tier or higher.
      tags:
        - Valorant
      parameters:
        - name: search
          in: query
          required: false
          description: Case-insensitive series-name search.
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: Cursor from the previous response's meta.next_cursor value.
          schema:
            type: integer
            minimum: 1
        - name: per_page
          in: query
          required: false
          description: Maximum number of results to return. Defaults to 25; maximum 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Series'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                example:
                  summary: Example response
                  value:
                    data:
                      - id: 1
                        name: VCL
                        slug: valorant-vcl
                    meta:
                      next_cursor: 1
                      per_page: 1
        '400':
          description: Invalid query parameters
        '401':
          description: Missing API key or insufficient account tier
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /valorant/v1/maps:
    get:
      operationId: getValorantMaps
      summary: List maps
      description: Returns Valorant maps and map-pool metadata. Requires Free tier or higher.
      tags:
        - Valorant
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Map'
              examples:
                example:
                  summary: Example response
                  value:
                    data:
                      - id: 16
                        name: Abyss
                        slug: abyss
                        scenario: Bomb defusal
                        alternative_names:
                          - abyss
                          - Infinity
                        in_map_pool: false
                      - id: 1
                        name: Ascent
                        slug: ascent
                        scenario: Bomb defusal
                        alternative_names:
                          - ascent
                          - Ascent
                        in_map_pool: true
                      - id: 17
                        name: Basic Training
                        slug: basic-training
                        scenario: Bomb defusal
                        alternative_names:
                          - basic-training
                          - NPEV2
                        in_map_pool: false
                      - id: 4
                        name: Bind
                        slug: bind
                        scenario: Bomb defusal
                        alternative_names:
                          - bind
                          - Duality
                        in_map_pool: false
                      - id: 5
                        name: Breeze
                        slug: breeze
                        scenario: Bomb defusal
                        alternative_names:
                          - breeze
                          - Foxtrot
                        in_map_pool: false
                      - id: 19
                        name: Corrode
                        slug: corrode
                        scenario: Bomb defusal
                        alternative_names:
                          - corrode
                          - Rook
                        in_map_pool: false
                      - id: 11
                        name: District
                        slug: district
                        scenario: Bomb defusal
                        alternative_names:
                          - district
                          - HURM_Alley
                        in_map_pool: false
                      - id: 15
                        name: Drift
                        slug: drift
                        scenario: Bomb defusal
                        alternative_names:
                          - drift
                          - HURM_Helix
                        in_map_pool: false
                      - id: 3
                        name: Fracture
                        slug: fracture
                        scenario: Bomb defusal
                        alternative_names:
                          - fracture
                          - Canyon
                        in_map_pool: true
                      - id: 18
                        name: Glitch
                        slug: glitch
                        scenario: Bomb defusal
                        alternative_names:
                          - glitch
                          - HURM_HighTide
                        in_map_pool: false
                      - id: 10
                        name: Haven
                        slug: haven
                        scenario: Bomb defusal
                        alternative_names:
                          - haven
                          - Triad
                        in_map_pool: true
                      - id: 8
                        name: Icebox
                        slug: icebox
                        scenario: Bomb defusal
                        alternative_names:
                          - icebox
                          - Port
                        in_map_pool: true
                      - id: 12
                        name: Kasbah
                        slug: kasbah
                        scenario: Bomb defusal
                        alternative_names:
                          - kasbah
                          - HURM_Bowl
                        in_map_pool: false
                      - id: 6
                        name: Lotus
                        slug: lotus
                        scenario: Bomb defusal
                        alternative_names:
                          - lotus
                          - Jam
                        in_map_pool: true
                      - id: 7
                        name: Pearl
                        slug: pearl
                        scenario: Bomb defusal
                        alternative_names:
                          - pearl
                          - Pitt
                        in_map_pool: true
                      - id: 13
                        name: Piazza
                        slug: piazza
                        scenario: Bomb defusal
                        alternative_names:
                          - piazza
                          - HURM_Yard
                        in_map_pool: false
                      - id: 20
                        name: Skirmish A
                        slug: skirmish-a
                        scenario: Bomb defusal
                        alternative_names:
                          - skirmish-a
                          - Skirmish_A
                        in_map_pool: false
                      - id: 21
                        name: Skirmish B
                        slug: skirmish-b
                        scenario: Bomb defusal
                        alternative_names:
                          - skirmish-b
                          - Skirmish_B
                        in_map_pool: false
                      - id: 22
                        name: Skirmish C
                        slug: skirmish-c
                        scenario: Bomb defusal
                        alternative_names:
                          - skirmish-c
                          - Skirmish_C
                        in_map_pool: false
                      - id: 24
                        name: Skirmish D
                        slug: skirmish-d
                        scenario: Bomb defusal
                        alternative_names:
                          - skirmish-d
                          - Skirmish_D
                        in_map_pool: false
                      - id: 23
                        name: Skirmish E
                        slug: skirmish-e
                        scenario: Bomb defusal
                        alternative_names:
                          - skirmish-e
                          - Skirmish_E
                        in_map_pool: false
                      - id: 2
                        name: Split
                        slug: split
                        scenario: Bomb defusal
                        alternative_names:
                          - split
                          - Bonsai
                        in_map_pool: true
                      - id: 25
                        name: Summit
                        slug: summit
                        scenario: Bomb defusal
                        alternative_names:
                          - summit
                          - Plummet
                        in_map_pool: false
                      - id: 14
                        name: Sunset
                        slug: sunset
                        scenario: Bomb defusal
                        alternative_names:
                          - sunset
                          - Juliett
                        in_map_pool: false
                      - id: 9
                        name: The Range
                        slug: the_range
                        scenario: Bomb defusal
                        alternative_names:
                          - the_range
                          - Range
                        in_map_pool: false
        '400':
          description: Invalid query parameters
        '401':
          description: Missing API key or insufficient account tier
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /valorant/v1/agents:
    get:
      operationId: getValorantAgents
      summary: List agents
      description: Returns Valorant agents. Requires Free tier or higher.
      tags:
        - Valorant
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
              examples:
                example:
                  summary: Example response
                  value:
                    data:
                      - id: 14
                        name: astra
                      - id: 3
                        name: Breach
                      - id: 15
                        name: Brimstone
                      - id: 5
                        name: chamber
                      - id: 24
                        name: clove
                      - id: 8
                        name: cypher
                      - id: 22
                        name: deadlock
                      - id: 2
                        name: fade
                      - id: 1
                        name: Gekko
                      - id: 11
                        name: harbor
                      - id: 23
                        name: iso
                      - id: 21
                        name: jett
                      - id: 6
                        name: kay/o
                      - id: 10
                        name: Killjoy
                      - id: 29
                        name: Miks
                      - id: 16
                        name: neon
                      - id: 20
                        name: omen
                      - id: 13
                        name: phoenix
                      - id: 4
                        name: raze
                      - id: 19
                        name: Reyna
                      - id: 18
                        name: sage
                      - id: 7
                        name: skye
                      - id: 9
                        name: sova
                      - id: 26
                        name: tejo
                      - id: 28
                        name: veto
                      - id: 12
                        name: viper
                      - id: 25
                        name: vyse
                      - id: 27
                        name: waylay
                      - id: 17
                        name: Yoru
        '400':
          description: Invalid query parameters
        '401':
          description: Missing API key or insufficient account tier
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /valorant/v1/weapons:
    get:
      operationId: getValorantWeapons
      summary: List weapons
      description: Returns Valorant weapons. Requires Free tier or higher.
      tags:
        - Valorant
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Weapon'
              examples:
                example:
                  summary: Example response
                  value:
                    data:
                      - id: 262
                        name: Ares
                        category: Heavy
                        slug: ares
                      - id: 231869
                        name: Bandit
                        category: Sidearm
                        slug: bandit
                      - id: 78
                        name: Bucky
                        category: Shotgun
                        slug: bucky
                      - id: 13
                        name: Bulldog
                        category: Rifle
                        slug: bulldog
                      - id: 4
                        name: Classic
                        category: Sidearm
                        slug: classic
                      - id: 3
                        name: Frenzy
                        category: Sidearm
                        slug: frenzy
                      - id: 5
                        name: Ghost
                        category: Sidearm
                        slug: ghost
                      - id: 19
                        name: Guardian
                        category: Rifle
                        slug: guardian
                      - id: 277
                        name: Judge
                        category: Shotgun
                        slug: judge
                      - id: 8
                        name: Marshal
                        category: Sniper
                        slug: marshal
                      - id: 11
                        name: Melee
                        category: Melee
                        slug: melee
                      - id: 147
                        name: Odin
                        category: Heavy
                        slug: odin
                      - id: 7
                        name: Operator
                        category: Sniper
                        slug: operator
                      - id: 83226
                        name: Outlaw
                        category: Sniper
                        slug: outlaw
                      - id: 2
                        name: Phantom
                        category: Rifle
                        slug: phantom
                      - id: 6
                        name: Sheriff
                        category: Sidearm
                        slug: sheriff
                      - id: 94
                        name: Shorty
                        category: Sidearm
                        slug: shorty
                      - id: 9
                        name: Spectre
                        category: SMG
                        slug: spectre
                      - id: 10
                        name: Stinger
                        category: SMG
                        slug: stinger
                      - id: 1
                        name: Vandal
                        category: Rifle
                        slug: vandal
        '400':
          description: Invalid query parameters
        '401':
          description: Missing API key or insufficient account tier
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /valorant/v1/teams:
    get:
      operationId: getValorantTeams
      summary: List teams
      description: Returns Valorant teams. Requires Free tier or higher.
      tags:
        - Valorant
      parameters:
        - name: search
          in: query
          required: false
          description: Case-insensitive team-name search.
          schema:
            type: string
        - name: country_ids[]
          in: query
          required: false
          description: Filter by one or more country IDs.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              minimum: 1
        - name: cursor
          in: query
          required: false
          description: Cursor from the previous response's meta.next_cursor value.
          schema:
            type: integer
            minimum: 1
        - name: per_page
          in: query
          required: false
          description: Maximum number of results to return. Defaults to 25; maximum 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                example:
                  summary: Example response
                  value:
                    data:
                      - id: 1
                        name: Springroll
                        acronym: null
                        slug: springroll
                        country: null
                        rank: null
                        six_month_earnings: null
                        total_earnings: null
                        tournament_wins: null
                    meta:
                      next_cursor: 1
                      per_page: 1
        '400':
          description: Invalid query parameters
        '401':
          description: Missing API key or insufficient account tier
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /valorant/v1/players:
    get:
      operationId: getValorantPlayers
      summary: List players
      description: Returns Valorant players. Requires Free tier or higher.
      tags:
        - Valorant
      parameters:
        - name: search
          in: query
          required: false
          description: Case-insensitive player-name search.
          schema:
            type: string
        - name: team_ids[]
          in: query
          required: false
          description: Filter by one or more team IDs.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              minimum: 1
        - name: country_ids[]
          in: query
          required: false
          description: Filter by one or more country IDs.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              minimum: 1
        - name: cursor
          in: query
          required: false
          description: Cursor from the previous response's meta.next_cursor value.
          schema:
            type: integer
            minimum: 1
        - name: per_page
          in: query
          required: false
          description: Maximum number of results to return. Defaults to 25; maximum 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Player'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                example:
                  summary: Example response
                  value:
                    data:
                      - id: 1
                        nickname: dimasick
                        first_name: Dmitry
                        last_name: Matvienko
                        slug: dimasick
                        birthday: '1996-07-06'
                        country:
                          id: 53
                          code: KZ
                          name: Kazakhstan
                        team: null
                        is_coach: true
                        joined_team_at: null
                        total_prize: 137
                        rank: null
                    meta:
                      next_cursor: 1
                      per_page: 1
        '400':
          description: Invalid query parameters
        '401':
          description: Missing API key or insufficient account tier
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /valorant/v1/player_profiles:
    get:
      operationId: getValorantPlayerProfiles
      summary: List player profiles
      description: Returns competitive profiles linked to players when known. Requires Free tier or higher.
      tags:
        - Valorant
      parameters:
        - name: player_ids[]
          in: query
          required: false
          description: Filter by one or more player IDs.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              minimum: 1
        - name: cursor
          in: query
          required: false
          description: Cursor from the previous response's meta.next_cursor value.
          schema:
            type: integer
            minimum: 1
        - name: per_page
          in: query
          required: false
          description: Maximum number of results to return. Defaults to 25; maximum 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayerProfile'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                example:
                  summary: Example response
                  value:
                    data:
                      - id: 1
                        game_name: WLG Maggos
                        tag_line: eProd
                        player:
                          id: 26
                          nickname: Maggos
                          first_name: Dimitris
                          last_name: Maggos
                        region: esports
                        nickname: Maggos
                        acronym: WLG
                    meta:
                      next_cursor: 1
                      per_page: 1
        '400':
          description: Invalid query parameters
        '401':
          description: Missing API key or insufficient account tier
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /valorant/v1/player_crosshairs:
    get:
      operationId: getValorantPlayerCrosshairs
      summary: List player crosshairs
      description: Returns published player crosshair codes. Requires Free tier or higher.
      tags:
        - Valorant
      parameters:
        - name: player_ids[]
          in: query
          required: false
          description: Filter by one or more player IDs.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              minimum: 1
        - name: popular
          in: query
          required: false
          description: Filter by popular status.
          schema:
            type: boolean
        - name: current
          in: query
          required: false
          description: Filter by current status.
          schema:
            type: boolean
        - name: cursor
          in: query
          required: false
          description: Cursor from the previous response's meta.next_cursor value.
          schema:
            type: integer
            minimum: 1
        - name: per_page
          in: query
          required: false
          description: Maximum number of results to return. Defaults to 25; maximum 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayerCrosshair'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                example:
                  summary: Example response
                  value:
                    data:
                      - id: 1
                        player:
                          id: 3281
                          nickname: zekken
                          first_name: Zachary
                          last_name: Patrone
                        code: >-
                          0;s;1;p;0;P;0a;1;0b;1;0e;1;0f;0;0g;0;0l;1;0m;0;0o;1;0s;1;0t;2;0v;6;1a;0.35;1b;0;1e;1;1f;1;1g;0;1l;2;1m;1;1o;10;1s;1;1t;2;1v;2;a;1;c;0;d;1;h;1;m;0;o;1;t;2;z;2;f;1;s;1;b;1;u;FFFFFF;A;0a;0.8;0b;1;0e;1;0f;1;0g;0;0l;6;0m;0;0o;3;0s;1;0t;2;0v;6;1a;0.35;1b;1;1e;1;1f;1;1g;0;1l;2;1m;1;1o;10;1s;1;1t;2;1v;2;a;1;b;1;c;8;d;0;h;1;m;0;o;0.5;t;1;u;FFFFFF;z;2;f;1;s;1;S;c;8;s;1;o;0.75;d;1;t;000000
                        popular: true
                        current: false
                    meta:
                      next_cursor: 1
                      per_page: 1
        '400':
          description: Invalid query parameters
        '401':
          description: Missing API key or insufficient account tier
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /valorant/v1/agent_stats:
    get:
      operationId: getValorantAgentStats
      summary: List aggregate agent statistics
      description: Returns aggregate performance statistics by agent. Requires ALL-STAR tier or higher.
      tags:
        - Valorant
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentStat'
              examples:
                example:
                  summary: Example response
                  value:
                    data:
                      - id: 1
                        agent:
                          id: 1
                          name: Gekko
                        picks_count: 3025
                        picks_rate: 0.12928455423540475
                        rounds_count: 63664
                        average_combat_score: 181.9512283236994
                        kd_ratio: 0.9396733822427147
                        kda_ratio: 1.3211892702205466
                        damage_per_round: 120.33497738125158
                        kills_per_round: 0.649833500879618
                        deaths_per_round: 0.6915525257602413
                        assists_per_round: 0.2638382759487308
                        first_kills_per_round: 0.07132759487308368
                        first_kill_success_rate: 0.4640302472920499
                        clutch_count: 1037
                        clutch_attempts: 6964
                        clutch_success_rate: 0.14890867317633544
                      - id: 2
                        agent:
                          id: 2
                          name: fade
                        picks_count: 11028
                        picks_rate: 0.4713223352423284
                        rounds_count: 231900
                        average_combat_score: 181.80566192324278
                        kd_ratio: 0.9490463736684315
                        kda_ratio: 1.404956305415577
                        damage_per_round: 119.00214747736094
                        kills_per_round: 0.6415782664941785
                        deaths_per_round: 0.6760241483398016
                        assists_per_round: 0.30820612332902114
                        first_kills_per_round: 0.06184131090987494
                        first_kill_success_rate: 0.4585744891759665
                        clutch_count: 3944
                        clutch_attempts: 27823
                        clutch_success_rate: 0.14175322574848148
                      - id: 3
                        agent:
                          id: 3
                          name: Breach
                        picks_count: 12354
                        picks_rate: 0.5279938456278315
                        rounds_count: 259514
                        average_combat_score: 177.64359148254044
                        kd_ratio: 0.9224477465615613
                        kda_ratio: 1.5863841817570379
                        damage_per_round: 115.14232758155629
                        kills_per_round: 0.6236156816202594
                        deaths_per_round: 0.676044452322418
                        assists_per_round: 0.4488505437086246
                        first_kills_per_round: 0.052448037485453576
                        first_kill_success_rate: 0.4581902645930115
                        clutch_count: 4261
                        clutch_attempts: 30506
                        clutch_success_rate: 0.1396774405035075
                      - id: 4
                        agent:
                          id: 4
                          name: raze
                        picks_count: 14262
                        picks_rate: 0.6095392768612702
                        rounds_count: 299850
                        average_combat_score: 232.50127730531932
                        kd_ratio: 1.0730962773248682
                        kda_ratio: 1.3333949570738042
                        damage_per_round: 154.11219943304985
                        kills_per_round: 0.7936868434217108
                        deaths_per_round: 0.7396231449057862
                        assists_per_round: 0.19252292813073205
                        first_kills_per_round: 0.1694714023678506
                        first_kill_success_rate: 0.5127646263445743
                        clutch_count: 3099
                        clutch_attempts: 21550
                        clutch_success_rate: 0.14380510440835267
                      - id: 5
                        agent:
                          id: 5
                          name: chamber
                        picks_count: 2830
                        picks_rate: 0.12095050859047782
                        rounds_count: 59199
                        average_combat_score: 211.29855234041116
                        kd_ratio: 1.143501352840966
                        kda_ratio: 1.3180679426796271
                        damage_per_round: 137.23971688710958
                        kills_per_round: 0.7710265376104326
[...]
